<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Kelas Karyawan - Institut Tazkia">

    <!-- ========== Page Title ========== -->
    <title>Institut Tazkia - Kelas Karyawan</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" th:href="@{/karyawan/assets/img/favicon.png}" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link th:href="@{/karyawan/assets/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/karyawan/assets/css/font-awesome.min.css}" rel="stylesheet" />
    <link th:href="@{/karyawan/assets/css/flaticon-set.css}" rel="stylesheet" />
    <link th:href="@{/karyawan/assets/css/magnific-popup.css}" rel="stylesheet" />
    <link th:href="@{/karyawan/assets/css/owl.carousel.min.css}" rel="stylesheet" />
    <link th:href="@{/karyawan/assets/css/owl.theme.default.min.css}" rel="stylesheet" />
    <link th:href="@{/karyawan/assets/css/animate.css}" rel="stylesheet" />
    <link th:href="@{/karyawan/assets/css/bootsnav.css}" rel="stylesheet" />
    <link th:href="@{/karyawan/style.css}" rel="stylesheet">
    <link th:href="@{/karyawan/assets/css/responsive.css}" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{/karyawan/assets/js/html5/html5shiv.min.js}"></script>
    <script th:src="@{/karyawan/assets/js/html5/respond.min.js}"></script>
    <![endif]-->

    <!-- ========== Google Fonts ========== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">

</head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KCTNBWL');</script>
<!-- End Google Tag Manager -->
<body>
<!-- GetButton.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            tiktok: "kelaskaryawan.tazkia", // Tiktok Account
            whatsapp: "+6282184800600", // WhatsApp number
            call_to_action: "Hubungi kami", // Call to action
            button_color: "#FF6550", // Color of button
            position: "right", // Position may be 'right' or 'left'
            order: "tiktok,whatsapp", // Order of buttons
        };
        var proto = 'https:', host = "getbutton.io", url = proto + '//static.' + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- /GetButton.io widget -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KCTNBWL"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- Preloader Start -->
<div class="se-pre-con"></div>
<!-- Preloader Ends -->

<!-- Header
============================================= -->
<header id="home">

    <!-- Start Navigation -->
    <nav class="navbar navbar-default navbar-sticky bootsnav">

        <div class="container">

            <!-- Start Atribute Navigation -->
            <!-- End Atribute Navigation -->

            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img th:src="@{/karyawan/assets/img/logo.png}" class="logo logo-display" alt="Logo">
                </a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right" data-in="#" data-out="#">
                    <li>
                        <a class="smooth-menu" href="https://beasiswa.tazkia.ac.id">S1 Reguler</a>
                    </li>
                    <li>
                        <a class="smooth-menu" href="http://kelaskaryawan.tazkia.ac.id">S1 Kelas Karyawan</a>
                    </li>
                    <li>
                        <a class="smooth-menu" href="https://pascasarjana.tazkia.ac.id">S2 Magister</a>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div>

    </nav>
    <!-- End Navigation -->


</header>
<!-- End Header -->

<!-- Start Banner
============================================= -->
<div class="banner-area text-small content-double  text-light bg-fixed" style="background-image: url(karyawan/assets/img/home.jpg);">
    <div class="box-table">
        <div class="box-cell">
            <div class="container">
                <div class="row">
                    <div class="double-items">
                        <!-- Banner Left Content -->
                        <div class="info col-md-6">
                            <div class="content">
                                <h1></h1>
                                <p>
                                </p>
                            </div>
                        </div>
                        <!-- End Banner Left Content -->

                        <!-- Start Banner Form -->
                        <div class="form col-md-5 light col-md-offset-1">
                            <div class="form-info">
                                <h2>Isi data diri untuk informasi <span>Bebas Uang Pangkal</span> 100%.</h2>
                                <form th:action="@{/kelasKaryawan}" method="post">
                                    <input type="text" th:value="${utm_medium}" name="utm_medium" placeholder="utm_medium" hidden>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="form-group">
                                                <input class="form-control" required name="nama" placeholder="Nama Lengkap" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="form-group">
                                                <input class="form-control" required name="email" placeholder="Email" type="email">
                                            </div>
                                        </div>
                                    </div>
<!--                                    <div class="col-md-12">-->
<!--                                        <div class="row">-->
<!--                                            <div class="form-group">-->
<!--                                                <input class="form-control" required name="asalKota" placeholder="Asal Kota" type="text">-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="form-group">
                                                <input class="form-control" required name="asalSekolah" placeholder="Asal SMA" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="form-group">
                                                <input class="form-control" required name="noWa" placeholder="No WhatsApp" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="form-group">
                                                <input class="form-control" required name="tahunLulus" placeholder="Tahun Lulus" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <button type="submit">
                                                KIRIM
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- End Banner Form -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner -->

<!-- Start About
============================================= -->
<div id="about" class="about-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5 thumb">
                <img th:src="@{/karyawan/assets/img/slide2.jpg}" alt="Thumb">
            </div>
            <div class="col-md-7 default info">
                <h4>Kampus Tazkia</h4>
                <h2>Kenapa Memilih Kelas Karyawan Tazkia?</h2>

                <ul>
                    <li>
                        <h5>Blended Learning</h5>
                        <span>menerapkan metode blended learning yaitu menggabungkan tatap muka dan daring yang fleksibel, dirancang untuk tidak mengganggu waktu bekerja menjadi pilihan yang tepat untuk karyawan</span>
                    </li>
                    <li>
                        <h5>Metode Pembayaran</h5>
                        <span>Kemudahan metode pembayaran secara proposional yang terjangkau untuk karyawan dengan biaya dicicil satu juta perbulan.</span>
                    </li>
                    <li>
                        <h5>Program studi Ter-Akreditasi</h5>
                        <span>Program studi yang telah mendapat Akreditasi A dari BAN-PT dan memiliki tenaga pengajar yang merupakan praktisi ekonomi syariah.</span>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
<!-- End About -->

<!-- Start We Offer
============================================= -->
<div class="we-offer-area text-center bg-gray default-padding bottom-less">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>PILIHAN<span> Program Studi</span></h2>
                    <h4>Kelas Karyawan Institut Tazkia</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="our-offer-items less-carousel">
                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <img th:src="@{/karyawan/assets/img/as.png}" alt="Thumb">
                        <h4>Akuntansi</h4>
                        Sarjana Akuntansi Syariah (S.Ak)
                        <p>
                        <h4>Akreditasi A</h4>
                        <br>1. Pajak
                        <br>2. Keuangan
                        <br>3. Manajerial
                        <br>5. Sektor Publik
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <img th:src="@{/karyawan/assets/img/kpi.png}" alt="Thumb">
                        <h4>Komunikasi</h4>
                        Sarjana Komunikasi dan Penyiaran Islam (S.Kom)
                        <p>
                        <h4>Akreditasi Baik</h4>
                        <br>1. Komunikasi Pemasaran
                        <br>2. Komunikasi Korporasi
                        <br>3. Komunikasi Retorika
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <img th:src="@{/karyawan/assets/img/mbs.png}" alt="Thumb">
                        <h4>Manajemen Bisnis</h4>
                        Sarjana Manajemen Bisnis Syariah (S.E)
                        <p>
                        <h4>Akreditasi B</h4>
                        <br>1. Pemasaran
                        <br>2. Sumber Daya
                        <br>3. Keuangan
                        <br>4. Operasi
                        </p>
                    </div>
                </div>

                <!-- End Single Item -->


            </div>
        </div>
    </div>
</div>
<!-- End We Offer -->

<!-- Start Features
============================================= -->
<div id="features" class="features-area cell-items default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>Kelas Karyawan<span>S1 Tahun Akademik 2023/2024</span></h2>
                    <h4>Jalur Penerimaan Mahasiswa Baru S1 Tahun Akademik 2023/2024</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="features-items reversed icon-solid less-icon">
                <div class="col-md-7 info-box">
                    <div class="items-box inc-cell">
                        <div class="col-md-6 col-sm-6 equal-height">
                            <div class="item">
                                <div class="icon">
                                    <img th:src="@{/karyawan/assets/img/raport.png}" alt="Thumb">
                                </div>
                                <div class="info">
                                    <h4>JADWAL PENDAFTARAN</h4>

                                    <p>Gelombang 1 | 01 Maret-3 April <br>
                                        Gelombang 2 | 8 April-12 Mei <br>
                                        Gelombang 3 | 13 Mei-2 Juni <br>
                                        Gelombang 4 | 3 Juni-30 juni <br>
                                        Gelombang 5 | 1 Juli-4 Agustus <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 equal-height">
                            <div class="item">
                                <div class="icon">
                                    <img th:src="@{/karyawan/assets/img/santri icon.png}" alt="Thumb">
                                </div>
                                <div class="info">
                                    <h4>PERSYARATAN</h4>
                                    <p>Pas Foto
                                        <br>Izasah SMA/Sederajat
                                        <br>KTP
                                        <br>SUrat Keterangan lulus
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 equal-height">
                            <div class="item">
                                <div class="icon">
                                    <img th:src="@{/karyawan/assets/img/tryout.png}" alt="Thumb">
                                </div>
                                <div class="info">
                                    <h4>Sistem Blended Learning
                                    </h4>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-5 thumb">
                    <img th:src="@{/karyawan/assets/img/studioKPI.jpg}" alt="Thumb">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Features -->

<!-- Start Success Stories
============================================= -->
<div class="success-stories-area bg-gray">
    <div class="container-full">
        <div class="row">
            <div class="item-flex">
                <div class="col-md-6 thumb bg-cover" style="background-image: url(karyawan/assets/img/tabelhargaa.jpg);"></div>
                <div class="col-md-6 info">
                    <div class="heading">
                        <h4></h4>
                    </div>
                    <div class="stories-carusel owl-carousel owl-theme">
                        <!-- Single Item -->
                        <div class="item">
                            <h2>Rp.4.000.000/Semester</h2>
                            <p>
                                Biaya Pendidikan untuk Program Sarjana (S1) sangat terjangkau, dengan pembayaran sistem diangsur setiap bulan atau paket angsuran persemester. Biaya Per-bulan = Rp. 666.000, -, atau Biaya Per-semester = Rp. 4.000.000, - Biaya sudah termasuk: Cicilan Uang Kuliah Tunggal dan SPP, Registrasi, SKS, praktikum, Kartu Tanda Mahasiswa, Jaket Almamater, dll.

                            </p>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="item">
                            <h2>Konsultasi Metode Pembayaran</h2>
                            <p>
                                Pertanyaan seputar jadwal dan Biaya Pendidikan Kelas Karyawan dapat menghubungi Staf Admisi kami.
                            </p>
                            <a href="https://wa.me/+6282184800600" class="btn btn-theme effect btn-sm">082184800600</a>
                        </div>
                        <!-- End Single Item -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Success Stories -->

<!-- Start Overview
============================================= -->
<div id="overview" class="work-list-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>Keunggulan</h2>
                    <h4>Kampus Tazkia</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 overview-items solid-items">
                <!-- Start Tab Content -->
                <div class="row">

                    <!-- Start Single Item -->
                    <div class="single-item">
                        <div class="col-md-6 thumb">
                            <img th:src="@{/karyawan/assets/img/penghargaanes.jpg}" alt="Thumb">
                        </div>
                        <div class="col-md-6 info">
                            <h3>Kampus Ekonomi Syariah Terbaik di Dunia</h3>
                            <p>
                                Tazkia berhasil mendapatkan penghargaan Istimewa karena terpilih sebagai kampus penyedia pendidikan keuangan syariah terbaik di dunia. Prestasi IAI Tazkia ini mengungguli berbagai lembaga pendidikan yang tersebar lebih dari 60 Negara. Penghargaan ini diberikan oleh Global Islamic Finance Award (GIFA) yang berpusat di UK.
                            </p>

                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Start Single Item -->
                    <div class="single-item reverse">
                        <div class="col-md-6 thumb">
                            <img th:src="@{/karyawan/assets/img/pendidikankeuangan.jpg}" alt="Thumb">
                        </div>
                        <div class="col-md-6 info">
                            <h3>Penyedia pendidikan keuangan islami terbaik</h3>
                            <p>
                                Institut Tazkia kembali terpilih sebagai Kampus Ekonomi Syariah Terbaik di Dunia – Tazkia Islamic University College GIFA Championship Award (Education in Islamic Banking & Finance) 2021.Global Islamic Finanace Award (GIFA:2020)
                            </p>
                            <p>

                            </p>

                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Start Single Item -->
                    <div class="single-item">
                        <div class="col-md-6 thumb">
                            <img th:src="@{/karyawan/assets/img/pendidikanbank.jpg}" alt="Thumb">
                        </div>
                        <div class="col-md-6 info">
                            <h3>Pendidikan perbankan dan keuangan islam</h3>
                            <p>
                                Institut Agama Islam Tazkia terpilih sebagai Kampus Pendidikan Keuangan Syariah Terbaik Dunia 2020 yang diselenggarakan oleh Global Islamic Finance Award (GIFA). Tazkia mengungguli berbagai lembaga pendidikan yang tersebar lebih di 60 negara.

                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
                <!-- End Tab Content -->
            </div>
        </div>
    </div>
</div>
<!-- End Overview -->
<!-- Start Success Stories
============================================= -->
<div class="success-stories-area bg-gray">
    <div class="container-full">
        <div class="row">
            <div class="item-flex">
                <div class="col-md-6 thumb bg-cover" style="background-image: url(karyawan/assets/img/asrama.jpg);"></div>
                <div class="col-md-6 info">
                    <div class="heading">
                        <h4>Fasilitas Kampus Tazkia</h4>
                    </div>
                    <div class="stories-carusel owl-carousel owl-theme">
                        <!-- Single Item -->
                        <div class="item">
                            <h2>Akuntansi </h2>
                            <p>(Tax Center, Sertifikasi Brevet Pajak A dan B, MYob, data analitik, Labkom untuk belajar Orecle)
                                <br> Kemudahan untuk melakukan pengkajian, penelitian dan sosialisasi perpajakan kepada masyarakat melalui layanan Tax Center. Dan kesempatan meraih sertifikasi Brevet Pajak A dan B serta sertifikasi MYob
                                </br>
                            </p>

                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="item">
                            <h2>Studio Komunikasi</h2>
                            <p>
                                <br> Dilengkapi dengan studio komunikasi yang mendukung proses pembelajaran dan perlengkapan yang memadai untuk menunjang peningkatan skills.
                                </br>

                            </p>

                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="item">
                            <h2>Bisnis Syariah (Lab Bank, Inkuabator Bisnis)</h2>
                            <p>
                                Dihadirkannya Mini Lab Bank yang membantu proses pengajaran sehingga pembelajaran menjadi simulasi operasional dan sistem perbankan.
                            </p>

                        </div>
                        <!-- End Single Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Success Stories -->



<!-- Start Pricing Area
============================================= -->


<!-- Start Team
    ============================================= -->
<div id="team" class="team-area default-padding bottom-less">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>Kiprah <span>Alumni</span></h2>
                    <h4></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="team-items">
                <div class="col-md-4 single-item">
                    <div class="item">
                        <div class="thumb">
                            <img th:src="@{/karyawan/assets/img/800x800.jpg}" alt="Thumb">
                            <div class="overlay">
                                <h4></h4>
                                <p>
                                    "Kampus ini memberikan pengalaman belajar yang luar biasa. Mereka memiliki fasilitas modern yang membuat belajar menjadi menyenangkan. Guru-guru yang sangat menyenangkan dan peduli tentang keberhasilan siswa. Saya benar-benar senang bisa menjadi bagian dari kampus ini."
                                </p>

                            </div>
                        </div>
                        <div class="info">
                                <span class="message">
                                    <a href="#"><i class="fas fa-envelope-open"></i></a>
                                </span>
                            <h4>Nurul Wafa</h4>
                            <span>Ekonomi Syariah Angkatan 18</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 single-item">
                    <div class="item">
                        <div class="thumb">
                            <img th:src="@{/karyawan/assets/img/hilman.jpg}" alt="Thumb">
                            <div class="overlay">
                                <h4></h4>
                                <p>
                                    "Kampus saya sangat menyenangkan dan memberikan banyak pengalaman yang berharga. Saya suka kelas yang saya ikuti dan berbagai kegiatan yang disediakan. Akademisi yang mengajar saya sangat menarik dan dapat membantu saya mencapai tujuan saya."
                                </p>

                            </div>
                        </div>
                        <div class="info">
                                <span class="message">
                                    <a href="#"><i class="fas fa-envelope-open"></i></a>
                                </span>
                            <h4>Ust. Hilman Fauzi</h4>
                            <span>Ekonomi Syariah Angkatan 9</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 single-item">
                    <div class="item">
                        <div class="thumb">
                            <img th:src="@{/karyawan/assets/img/tegar.jpg}" alt="Thumb">
                            <div class="overlay">
                                <h4></h4>
                                <p>
                                    "Kampus saya sangat luar biasa! Mereka memiliki fasilitas yang hebat dan berbagai kursus yang tersedia untuk membantu Anda mencapai tujuan akademik dan profesional Anda."
                                </p>

                            </div>
                        </div>
                        <div class="info">
                                <span class="message">
                                    <a href="#"><i class="fas fa-envelope-open"></i></a>
                                </span>
                            <h4>Tegar Iman</h4>
                            <span>Manajemen Bisnis Syariah Angkatan 18</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Team -->



<!-- Start Faq
============================================= -->
<div class="faq-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>Panduan Pendaftaran <span>Kampus Tazkia</span></h2>
                    <h4>5 langkah mudah mendaftar menjadi Mahasiswa Baru</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Star Video Faq -->
            <div class="col-md-6 video-faq">
                <div class="video">
                    <img th:src="@{/karyawan/assets/img/daftar.jpg}" alt="Thumb">
                    <a class="popup-youtube light video-play-button" href="https://www.youtube.com/watch?v=uLZfmqyvrzY">
                        <i class="fa fa-play"></i>
                    </a>
                    <h4>Answer with video</h4>
                </div>
            </div>
            <!-- End Video Faq -->

            <!-- Star Accordion Items -->
            <div class="col-md-6 faq-items">
                <div class="acd-items acd-arrow">
                    <div class="panel-group symb" id="accordion">

                        <!-- Single Item -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#ac1">
                                        <span>1</span>  Mendaftar lewat online
                                    </a>
                                </h4>
                            </div>
                            <div id="ac1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>
                                        Pendaftaran dengan cara  mengisi formulir yang diminta. Pastikan isian sama sesuai dengan ijazah dan alamat email serta nomor handphone Anda aktif
                                    </p>
                                    <p>

                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#ac2">
                                        <span>2</span>  Terima Notifikasi tagihan
                                    </a>
                                </h4>
                            </div>
                            <div id="ac2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        Calon Mahasiswa Baru akan menerima Notifikasi tagihan pembayaran pendaftaran melalui Email yang
                                        didaftarkan atau dapat check di dashboard pendaftran pada menu Tagihan, Biaya untuk S1 Kelas karyawan sebesar Rp. 300.000,-
                                    </p>
                                    <p>

                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#ac3">
                                        <span>3</span> Melakukan pembayaran
                                    </a>
                                </h4>
                            </div>
                            <div id="ac3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        Calon Mahasiswa Baru melakukan pembayaran sesuai tagihan dan No.Rek Account Virtual yang tertera melalui Bank Syariah Indonesia atau CIMB Niaga Syariah.
                                    </p>
                                    <p>

                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->



                        <!-- Single Item -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#ac6">
                                        <span>4</span> Hasil test
                                    </a>
                                </h4>
                            </div>
                            <div id="ac6" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        Hasil test dapat dilihat di dashboard pendaftar pada menu hasil test.
                                    </p>
                                    <p>

                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#ac7">
                                        <span>5</span> Daftar ulang
                                    </a>
                                </h4>
                            </div>
                            <div id="ac7" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        Untuk mendapatkan tagihan daftar ulang Login di web spmb.tazkia.ac.id/login pada tab/menu daftar ulang klik tombol kirim tagihan. Atau silahkan hubungi panitia di nomor 0821-84-800-600
                                    </p>
                                    <p>

                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Accordion -->


</div>
</div>
</div>
</div>
<!-- End Faq  -->


<!-- Start Google Maps
============================================= -->
<div class="maps-area">
    <div class="container-full">
        <div class="row">
            <div class="google-maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9703.308473548155!2d106.85014840237689!3d-6.572507714543568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69c5c777e11211%3A0xc5ab7788a51fc54b!2sInstitut%20Tazkia%20-%20Islamic%20Economics%20%26%20Business%20Law%20Education!5e0!3m2!1sen!2sid!4v1672123019887!5m2!1sen!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>
<!-- End Google Maps -->

          <!-- Start Blog  
    ============================================= -->
    <div id="blog" class="blog-area bg-gray default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h2>Artikel <span>Terbaru</span></h2>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="blog-items blog-carousel owl-carousel owl-theme">
                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                            
             
                            </div>
                            <div class="info">
                                <h4>
                                <a th:href="@{/s1-kelas-karyawan-murah-bogor}">
                                    Program S1 Kelas Karyawan Murah Bogor Institut Tazkia
                                </a>
                                </h4>
                                <p>
                                    program Kelas Karyawan dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->
                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                            

                            </div>
                            <div class="info">
                                <h4>
                                <a th:href="@{/s1-kelas-karyawan-manajemen-bisnis-murah}">
                                    Program S1 Kelas Karyawan Jakarta Manajemen Bisnis Murah
                                </a>
                                </h4>
                                <p>
                                    program Kelas Karyawan dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->
                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                           
                        
                            </div>
                            <div class="info">
                                <h4>
                                <a th:href="@{/s1-kelas-karyawan-jakarta-manajemen-komunikasi}">
                                    Program S1 Kelas Karyawan Jakarta Manajemen Komunikasi
                                </a>
                                </h4>

                                <p>
                                    program Kelas Karyawan dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->
                       
                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                          
                        
                            </div>
                            <div class="info">
                                <h4>
                                <a th:href="@{/s1-kelas-karyawan-jakarta-manajemen-bisnis-beasiswa}">
                                    Program S1 Kelas Karyawan Jakarta Manajemen Bisnis Beasiswa
                                </a>
                                </h4>

                                <p>
                                    program Kelas Karyawan dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                          
                        
                            </div>
                            <div class="info">
                                <h4>
                                <a th:href="@{/s1-kelas-karyawan-jakarta-ilmu-komunikasi-beasiswa}">
                                    Program S1 Kelas Karyawan Jakarta Ilmu Komunikasi Beasiswa
                                </a>
                                </h4>

                                <p>
                                    program Kelas Karyawan dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                            
                        
                            </div>
                            <div class="info">
                                <h4>
                                <a th:href="@{/s1-kelas-karyawan-depok}">
                                    Program S1 Kelas Karyawan Depok Institut Tazkia
                                </a>
                                </h4>

                                <p>
                                    program Kelas Karyawan dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                            
                        
                            </div>
                            <div class="info">
                                <h4>
                                <a th:href="@{/s1-kelas-karyawan-tangerang}">
                                    Program S1 Kelas Karyawan Tangerang Institut Tazkia
                                </a>
                                </h4>

                                <p>
                                    program Kelas Karyawan dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                            
                        
                            </div>
                            <div class="info">
                                <h4>
                                <a th:href="@{/s1-kelas-karyawan-bekasi}">
                                    Program S1 Kelas Karyawan Bekasi Institut Tazkia
                                </a>
                                </h4>

                                <p>
                                    program Kelas Karyawan dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                            
                        
                            </div>
                            <div class="info">
                                <h4>
                                <a th:href="@{/s1-kelas-karyawan-bandung}">
                                    Program S1 Kelas Karyawan Bandung Institut Tazkia
                                </a>
                                </h4>

                                <p>
                                    program Kelas Karyawan dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                            
                        
                            </div>
                            <div class="info">
                                <h4>
                                <a th:href="@{/s1-kelas-karyawan-bogor}">
                                    Program S1 Kelas Karyawan Bogor Institut Tazkia
                                </a>
                                </h4>

                                <p>
                                    program Kelas Karyawan dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                            
                        
                            </div>
                            <div class="info">
                                <h4>
                                <a th:href="@{/program-studi-kelas-karyawan-malam}">
                                    Program S1 Kelas Karyawan Malam Institut Tazkia
                                </a>
                                </h4>

                                <p>
                                    program Kelas Karyawan dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                            
                        
                            </div>
                            <div class="info">
                                <h4>
                                <a th:href="@{/program-studi-kelas-karyawan-online}">
                                    Program S1 Kelas Karyawan Online Institut Tazkia
                                </a>
                                </h4>

                                <p>
                                    program Kelas Karyawan dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->


                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                            
                        
                            </div>
                            <div class="info">
                                <h4>
                                <a th:href="@{/program-studi-kelas-karyawan-sore}">
                                    Program S1 Kelas Karyawan Sore Institut Tazkia
                                </a>
                                </h4>

                                <p>
                                    program Kelas Karyawan dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                            
                        
                            </div>
                            <div class="info">
                                <h4>
                                <a th:href="@{/program-studi-kelas-karyawan-asal-sma}">
                                    Program S1 Kelas Karyawan Asal SMA Institut Tazkia
                                </a>
                                </h4>

                                <p>
                                    program Kelas Karyawan dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                            
                        
                            </div>
                            <div class="info">
                                <h4>
                                <a th:href="@{/program-studi-kelas-karyawan-paket-c}">
                                    Program S1 Kelas Karyawan Paket C Institut Tazkia
                                </a>
                                </h4>

                                <p>
                                    program Kelas Karyawan dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                         
                            </div>
                            <div class="info">
                                <h4>
                                    <a th:href="@{/s1-kelas-karyawan-cepat-lulus-murah-depok}">
                                        Program S1 Kelas Karyawan Cepat Lulus Murah Depok Institut Tazkia
                                    </a>
                                </h4>

                                <p>
                                    program Kelas Karyawan dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                        
                        
                            </div>
                            <div class="info">
                                <h4>
                                <a th:href="@{/s1-kelas-karyawan-bogor-komunikasi-murah}">
                                    Program S1 Kelas Karyawan Bogor Komunikasi Murah
                                </a>
                                </h4>

                                <p>
                                    program Kelas Karyawan dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                           
                        
                            </div>
                            <div class="info">
                                <h4>
                                    <a th:href="@{/s1-kelas-karyawan-bogor-akuntansi-murah}">
                                        Program S1 Kelas Karyawan Bogor Akuntansi Murah
                                    </a>
                                </h4>

                                <p>
                                    program Kelas Karyawan dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. 
                                    pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog -->

<!-- Start Footer
============================================= -->
<footer class="default-padding-top bg-light">
    <div class="container">
        <div class="row">
            <div class="f-items">
                <div class="col-md-4 col-sm-6 equal-height item">
                    <div class="f-item about">
                        <img th:src="@{/karyawan/assets/img/logo.png}" alt="Logo">


                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- End Footer -->

<!-- jQuery Frameworks
============================================= -->
<script th:src="@{/karyawan/assets/js/jquery-1.12.4.min.js}"></script>
<script th:src="@{/karyawan/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/karyawan/assets/js/equal-height.min.js}"></script>
<script th:src="@{/karyawan/assets/js/jquery.appear.js}"></script>
<script th:src="@{/karyawan/assets/js/jquery.easing.min.js}"></script>
<script th:src="@{/karyawan/assets/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/karyawan/assets/js/modernizr.custom.13711.js}"></script>
<script th:src="@{/karyawan/assets/js/owl.carousel.min.js}"></script>
<script th:src="@{/karyawan/assets/js/wow.min.js}"></script>
<script th:src="@{/karyawan/assets/js/count-to.js}"></script>
<script th:src="@{/karyawan/assets/js/bootsnav.js}"></script>
<script th:src="@{/karyawan/assets/js/main.js}"></script>

</body>
</html>
