<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Program Magister - Institut Tazkia">

    <!-- ========== Page Title ========== -->
    <title>Program Magister - Institut Tazkia</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" th:href="@{/pasca/img/favicon.png}" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link th:href="@{/pasca/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/pasca/css/font-awesome.min.css}" rel="stylesheet" />
    <link th:href="@{/pasca/css/flaticon-set.css}" rel="stylesheet" />
    <link th:href="@{/pasca/css/magnific-popup.css}" rel="stylesheet" />
    <link th:href="@{/pasca/css/owl.carousel.min.css}" rel="stylesheet" />
    <link th:href="@{/pasca/css/owl.theme.default.min.css}" rel="stylesheet" />
    <link th:href="@{/pasca/css/animate.css}" rel="stylesheet" />
    <link th:href="@{/pasca/css/bootsnav.css}" rel="stylesheet" />
    <link th:href="@{/pasca/style.css}" rel="stylesheet">
    <link th:href="@{/pasca/css/responsive.css}" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script th:src="@{/pasca/js/html5/html5shiv.min.js}"></script>
      <script th:src="@{/pasca/js/html5/respond.min.js}"></script>
    <![endif]-->

    <!-- ========== Google Fonts ========== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">

</head>

<body>
<!-- GetButton.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            tiktok: "kampustazkia", // Tiktok Account
            whatsapp: "+6282184800600", // WhatsApp number
            call_to_action: "Hubungi kami", // Call to action
            button_color: "#FF6550", // Color of button
            position: "right", // Position may be 'right' or 'left'
            order: "tiktok,whatsapp", // Order of buttons
        };
        var proto = 'https:', host = "getbutton.io", url = proto + '//static.' + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- /GetButton.io widget -->

    <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends -->

    <!-- Header 
    ============================================= -->
    <header id="home">

         <!-- Start Navigation -->
         <nav class="navbar navbar-default navbar-sticky bootsnav">

            <div class="container">

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img th:src="@{/pasca/img/logopascatazkia.png}" class="logo logo-display" alt="Logo">
                    </a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="#" data-out="#">
                        <li>
                            <a class="smooth-menu" href="https://beasiswa.tazkia.ac.id">S1 Reguler</a>
                        </li>
                        <li>
                            <a class="smooth-menu" href="http://kelaskaryawan.tazkia.ac.id">S1 Kelas Karyawan</a>
                        </li>
                        <li>
                            <a class="smooth-menu" href="https://pascasarjana.tazkia.ac.id">S2 Magister</a>
                        </li>
                        
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>

        </nav>
        <!-- End Navigation -->


    </header>
    <!-- End Header -->

    <!-- Start Banner 
    ============================================= -->
    <div class="banner-area text-small content-double  text-light bg-fixed" style="background-image: url(pasca/img/headerpasca.jpg);">
        <div class="box-table">
            <div class="box-cell">
                <div class="container">
                    <div class="row">
                        <div class="double-items">
                            <!-- Banner Left Content -->
                            <div class="info col-md-6">
                                <div class="content">
                                    <h1></h1>
                                    <p>                                    
                                    </p>
                                </div>
                            </div>
                            <!-- End Banner Left Content -->

                            <!-- Start Banner Form -->
                            <div class="form col-md-5 light col-md-offset-1">
                                <div class="form-info">
                                    <h2>Isi data diri untuk informasi <span>Bebas Formulir</span> 100%</h2>
                                    <form th:action="@{/pascasarjana}" method="post">
                                        <input type="text" th:value="${utm_medium}" name="utm_medium" placeholder="utm_medium" hidden>                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="form-group">
                                                    <input class="form-control" name="nama" placeholder="Nama Lengkap" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="form-group">
                                                    <input class="form-control" name="email" placeholder="Email" type="email">
                                                </div>
                                            </div>
                                        </div>
										<div class="col-md-12">
                                            <div class="row">
                                                <div class="form-group">
                                                    <input class="form-control" name="tahunLulus" placeholder="Tahun Lulus" type="text">
                                                </div>
                                            </div>
                                        </div>
										<div class="col-md-12">
                                            <div class="row">
                                                <div class="form-group">
                                                    <input class="form-control" name="asalSekolah" placeholder="Asal Perguruan Tinggi" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="form-group">
                                                    <input class="form-control" name="noWa" placeholder="No WhatsApp" type="number">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <button type="submit">
                                                    KIRIM
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- End Banner Form -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->

    <!-- Kenapa Memilih Program Magister Tazkia
    ============================================= -->
    <div id="about" class="about-area default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-5 thumb">
                    <img th:src="@{/pasca/img/hilman.jpg}" alt="Thumb">
                </div>
                <div class="col-md-7 default info">
                    <h4>Kampus Tazkia</h4>
                    <h2>Kenapa Memilih Program Magister Tazkia?</h2>
                    
                    <ul>
                        <li>
                            <h3>Duration</h3>
                            <span>Menerapkan perkuliahan dengan waktu durasi selama 4 semester / 2 Tahun perkuliahan metode blended learning yaitu menggabungkan tatap muka dan daring yang fleksibel, 
                                dirancang untuk tidak mengganggu waktu bekerja menjadi pilihan yang tepat.</span>
                        </li>
                        <li>
                            <h3>Our Exellence</h3>
                            <span>Kemudahan metode pembelajaran dengan integrasi pembelajaran Agama Islam & Sertifikasi Profesional sesuai dengan bidang yang ada.</span>
                        </li>
                        <li>
                            <h3>Reliable</h3>
                            <span>Kurikulum telah direview oleh para pakar dan praktisi ekonomi syariah baik dari dalam maupun luar negeri.</span>
                        </li>
                </div>
            </div>
        </div>
    </div>
    <!-- End Kenapa Memilih Program Magister Tazkia -->

<!-- Start Features 
    ============================================= -->
    <div id="features" class="features-area box-items default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h2>Pilihan <span>Program Studi</span></h2>
                        <h4>Pilihan Program Studi di IAI Tazkia</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="features-items text-center">
                    <div class="col-md-6 col-sm-6 equal-height">
                        <div class="item">
                            <div class="icon">
                                <i class="flaticon-television"></i>
                            </div>
                            <div class="info">
                                <h4>S2 Magister Akuntansi Syariah</h4>
                                <p>
                                    Akreditasi Baik Sekali 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 equal-height">
                        <div class="item">
                            <div class="icon">
                                <i class="flaticon-customer-service"></i>
                            </div>
                            <div class="info">
                                <h4>S2 Magister Ekonomi Syariah</h4>
                                <p>
                                    Akreditasi Baik
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Features -->

    <!-- Start Features
    ============================================= -->
    <div id="features" class="features-area cell-items default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h2>S2 Magister <span>Tahun Akademik 2023/2024</span></h2>
                        <h4>Informasi Program Magister S2</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="features-items reversed icon-solid less-icon">
                    <div class="col-md-7 info-box">
                        <div class="items-box inc-cell">
                            <div class="col-md-6 col-sm-6 equal-height">
                                <div class="item">
                                    <div class="icon">
                                        <img th:src="@{/pasca/img/raport.png}" alt="Thumb">
                                    </div>
                                    <div class="info">
                                        <h4>Duration</h4>
                                        <p>4 Semester / 2 Years <BR>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 equal-height">
                                <div class="item">
                                    <div class="icon">
                                        <img th:src="@{/pasca/img/tryout.png}" alt="Thumb">
                                    </div>
                                    <div class="info">
                                        <h4>Pilihan Kelas</h4> 
                                        <p>
                                            Kelas Eksekutif<br>Kelas Reguler
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 equal-height">
                                <div class="item">
                                    <div class="icon">
                                        <img th:src="@{/pasca/img/tryout.png}" alt="Thumb">
                                    </div>
                                    <div class="info">
                                        <h4>Language of Instruction</h4> 
                                        <p>
                                            Indonesian<br>English
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 equal-height">
                                <div class="item">
                                    <div class="icon">
                                        <img th:src="@{/pasca/img/santri icon.png}" alt="Thumb">
                                    </div>
                                    <div class="info">
                                        <h4>Campus Location</h4>
                                        <p>Jl. Ir. H. Djuanda No. 78 Sentul, Citaringgul <BR>Kec. Babakan Madang, Kota Bogor, Jawa Barat 16810<BR>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            

                        </div>
                    </div>
                    <div class="col-md-5 thumb">
                        <img th:src="@{/pasca/img/jadwals2.jpg}" alt="Thumb">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Features -->

        <!-- 4 Mata Kuliah Untuk Non Akuntansi
    ============================================= -->
    <div id="features" class="features-area cell-items default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h2>Konsentrasi <span>Program Studi Magister</span></h2>
                        <h4>Konsentrasi kami menawarkan spesialis untuk fokus pada bidang Syari'ah & Islami.</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="features-items icon-solid">
                    <div class="col-md-7">
                        <div class="items-box inc-cell">
                            <div class="col-md-6 col-sm-6 equal-height">
                                <div class="item">
                                    <div class="icon">
                                        <i class="flaticon-television"></i>
                                    </div>
                                    <div class="info">
                                        <h4>S2 Magister Ekonomi Syariah</h4>
                                        <ul>
                                            <li>Manajemen Harta Islami</li>
                                            <li>Manajemen Bisnis Islami</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 equal-height">
                                <div class="item">
                                    <div class="icon">
                                        <i class="flaticon-customer-service"></i>
                                    </div>
                                    <div class="info">
                                        <h4>S2 Magister Akuntansi Syariah</h4>
                                        <ul>
                                            <li>Auditor</li>
                                            <li>Analisis Sistem Informasi Akuntansi</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="thumb">
                            <img th:src="@{/pasca/img/konsen.png}" alt="Thumb">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Features -->

    <!-- Start Overview 
    ============================================= -->
    <div id="overview" class="work-list-area default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h2>Mata Kuliah <span>Magister Akuntansi Syariah</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 overview-items">
                    <!-- Tab Nav -->
                    <div class="tab-navigation text-center">
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a data-toggle="tab" href="#tab1" aria-expanded="true">
                                    Semester 1
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab2" aria-expanded="false">
                                    Semester 2
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab3" aria-expanded="false">
                                    Semester 3
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab4" aria-expanded="false">
                                    Semester 4
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Tab Nav -->
                    <!-- Start Tab Content -->
                    <div class="row">
                        <div class="tab-content">

                            <!-- Start Single Item -->
                            <div id="tab1" class="tab-pane fade active in">
                                <div class="col-md-6 thumb">
                                    <img th:src="@{/pasca/img/as01.png}" alt="Thumb">
                                </div>
                                <div class="col-md-6 info">
                                    <h3>Mata Kuliah Semester 1.</h3>
                                    <ul>
                                        <li> 
                                            <h4>Islamic Economics Philosophy</h4> 
                                            Filsafat Ekonomi Islam.
                                        </li>
                                        <li>
                                            <h4>Qowaidul Fiqhiyyah</h4>
                                            Kaidah Fiqih.
                                        </li>
                                        <li>
                                            <h4>Islamic Business Ethics & Good Corporate Governance</h4>
                                            Etika Bisnis Islami & Tata Kelola Perusahaan yang Baik.
                                        </li>
                                        <li>
                                            <h4>Research Methodology for Islamic Accounting</h4>
                                            Metodologi Penelitian Akuntansi Islam.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Single Item -->

                            <!-- Start Single Item -->
                            <div id="tab2" class="tab-pane fade">
                                <div class="col-md-6 thumb">
                                    <img th:src="@{/pasca/img/im1.jpeg}" alt="Thumb">
                                </div>
                                <div class="col-md-6 info">
                                    <h3>Mata Kuliah Semester 2.</h3>
                                    <ul>
                                        <li> 
                                            <h4>Islamic Accounting Theory</h4> 
                                            Teori Akuntansi Islam.
                                        </li>
                                        <li>
                                            <h4>Islamic Worldview & Maqasid Sharia</h4>
                                            Pandangan Dunia Islam & Maqasid Syariah.
                                        </li>
                                        <li>
                                            <h4>Fiqh for Contemporary Financial Transactions</h4>
                                            Fiqh untuk Transaksi Keuangan Kontemporer.
                                        </li>
                                        <li>
                                            <h4>Islamic Accounting Standards</h4>
                                            Standar Akuntansi Islam.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Single Item -->

                            <!-- Start Single Item -->
                            <div id="tab3" class="tab-pane fade">
                                <div class="col-md-6 thumb">
                                    <img th:src="@{/pasca/img/im2.jpeg}" alt="Thumb">
                                </div>
                                <div class="col-md-6 info">
                                    <h3>Mata Kuliah Semester 3.</h3>
                                    <ul>
                                        <li> 
                                            <h4>Financial Statement Analysis for Islamic Business Entities</h4> 
                                            Analisis Laporan Keuangan Badan Usaha Syariah.
                                        </li>
                                        <li>
                                            <h4>Islamic Risk Management</h4>
                                            Manajemen Risiko Islami.
                                        </li>
                                        <li>
                                            <h4>Business Legal Environment</h4>
                                            Lingkungan Hukum Bisnis.
                                        </li>
                                        <li>
                                            <h4>Islamic Accounting Practices Across Countries</h4>
                                            Praktek Akuntansi Islam Lintas Negara.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Single Item -->

                            <!-- Start Single Item -->
                            <div id="tab4" class="tab-pane fade">
                                <div class="col-md-6 thumb">
                                    <img th:src="@{/pasca/img/im3.jpeg}" alt="Thumb">
                                </div>
                                <div class="col-md-6 info">
                                    <h3>Thesis & Professional Certifications.</h3>
                                    <p>
                                        Tesis & Sertifikasi Profesi.
                                    </p>
                                </div>
                            </div>
                            <!-- End Single Item -->

                        </div>
                    </div>
                    <!-- End Tab Content -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Overview -->

     <!-- Start Signup 
    ============================================= -->
    <div class="signup-area bg-fixed shadow dark text-light default-padding text-center" style="background-image: url(pasca/img/educontaz.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h3>Perlu Konsultasi Program S2 Magister di Institut Tazkia ?</h3>
                    <p>
                        Konsultasikan info yang kamu mau dengan menghubungi Edu Consultant seputar S2 Magister di Institut Tazkia
                    </p><a href="https://api.whatsapp.com/send/?phone=6282184800600&text=Assalamualaikum+Admin%2C+Bantu+saya+untuk+pendaftaran+magister+di+Tazkia%2C+Terimakasih.&type=phone_number&app_absent=0" class="btn circle btn-light effect btn-md">Edu Consultant</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Signup -->

        <!-- Start Overview 
    ============================================= -->
    <div id="overview" class="work-list-area default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h2>Mata Kuliah <span>Magister Ekonomi Syariah</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 overview-items">
                    <!-- Tab Nav -->
                    <div class="tab-navigation text-center">
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a data-toggle="tab" href="#term1" aria-expanded="true">
                                    Semester 1
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#term2" aria-expanded="false">
                                    Semester 2
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#term3" aria-expanded="false">
                                    Semester 3
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#term4" aria-expanded="false">
                                    Semester 4
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Tab Nav -->
                    <!-- Start Tab Content -->
                    <div class="row">
                        <div class="tab-content">

                            <!-- Start Single Item -->
                            <div id="term1" class="tab-pane fade active in">
                                <div class="col-md-6 thumb">
                                    <img th:src="@{/pasca/img/es01.png}" alt="Mata Kuliah Magister Ekonomi Syariah Semester 1 Tazkia">
                                </div>
                                <div class="col-md-6 info">
                                    <h3>Mata Kuliah Semester 1.</h3>
                                    <ul>
                                        <li> 
                                            <h4>Managerial Economics</h4> 
                                            Ekonomi Manajerial.
                                        </li>
                                        <li>
                                            <h4>Islamic Marketing Management</h4>
                                            Manajemen Pemasaran Islam.
                                        </li>
                                        <li>
                                            <h4>Islamic Risk Management</h4>
                                            Manajemen Risiko Islam.
                                        </li>
                                        <li>
                                            <h4>Ownership and distribution of property in Islam</h4>
                                            Kepemilikan dan distribusi harta dalam Islam.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Single Item -->

                            <!-- Start Single Item -->
                            <div id="term2" class="tab-pane fade">
                                <div class="col-md-6 thumb">
                                    <img th:src="@{/pasca/img/tepatsasaran.jpg}" alt="Mata Kuliah Magister Ekonomi Syariah Semester 2 Tazkia">
                                </div>
                                <div class="col-md-6 info">
                                    <h3>Mata Kuliah Semester 2.</h3>
                                    <ul>
                                        <li> 
                                            <h4>Islamic Investment Management</h4> 
                                            Manajemen Investasi Islam.
                                        </li>
                                        <li>
                                            <h4>Ushul Fiqih dan Maqashid Syariah</h4>
                                            Ushul Fiqih dan Maqashid Syariah.
                                        </li>
                                        <li>
                                            <h4>Econometrics</h4>
                                            Ekonometrika.
                                        </li>
                                        <li>
                                            <h4>Islamic Business Governance and Ethics</h4>
                                            Tata Kelola dan Etika Bisnis Islam.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Single Item -->

                            <!-- Start Single Item -->
                            <div id="term3" class="tab-pane fade">
                                <div class="col-md-6 thumb">
                                    <img th:src="@{/pasca/img/sosialbisnis.jpg}" alt="Mata Kuliah Magister Ekonomi Syariah Semester 3 Tazkia">
                                </div>
                                <div class="col-md-6 info">
                                    <h3>Mata Kuliah Semester 3.</h3>
                                    <ul>
                                        <li> 
                                            <h4>Islamic Social Finance</h4> 
                                            Keuangan Sosial Islam.
                                        </li>
                                        <li>
                                            <h4>Islamic Economic Philosophy and Thought</h4>
                                            Filsafat dan Pemikiran Ekonomi Islam.
                                        </li>
                                        <li>
                                            <h4>Fiqih Muamalah</h4>
                                            Fiqih Muamalah.
                                        </li>
                                        <li>
                                            <h4>Islamic Economics</h4>
                                            Ekonomi Islam.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Single Item -->

                            <!-- Start Single Item -->
                            <div id="term4" class="tab-pane fade">
                                <div class="col-md-6 thumb">
                                    <img th:src="@{/pasca/img/tesis.jpg}" alt="Mata Kuliah Magister Ekonomi Syariah Semester 4 Tazkia">
                                </div>
                                <div class="col-md-6 info">
                                    <h3>Thesis & Professional Certifications.</h3>
                                    <p>
                                        Tesis & Sertifikasi Profesi.
                                    </p>
                                </div>
                            </div>
                            <!-- End Single Item -->

                        </div>
                    </div>
                    <!-- End Tab Content -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Overview -->

        <!-- Start About 
    ============================================= -->
    <!-- End About -->
    <!-- Start Overview 
    ============================================= -->
    <div id="overview" class="work-list-area default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h2>Keunggulan <span>Kampus Tazkia</span></h2>
                        <h4>Keunggulan Institut Tazkia</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 overview-items solid-items">
                    <!-- Start Tab Content -->
                    <div class="row">

                        <!-- Start Single Item -->
                        <div class="single-item">
                            <div class="col-md-6 thumb">
                                <img th:src="@{/pasca/img/penghargaanes.jpg}" alt="Thumb">
                            </div>
                            <div class="col-md-6 info">
                                <h3>Kampus Ekonomi Syariah Terbaik di Dunia</h3>
                                <p>
                                    Tazkia berhasil mendapatkan penghargaan Istimewa karena terpilih sebagai kampus penyedia pendidikan keuangan syariah terbaik di dunia. Prestasi IAI Tazkia ini mengungguli berbagai lembaga pendidikan yang tersebar lebih dari 60 Negara. Penghargaan ini diberikan oleh Global Islamic Finance Award (GIFA) yang berpusat di UK.
                                </p>
                              
                            </div>
                        </div>
                        <!-- End Single Item -->

                        <!-- Start Single Item -->
                        <div class="single-item reverse">
                            <div class="col-md-6 thumb">
                                <img th:src="@{/pasca/img/uang.jpg}" alt="Thumb">
                            </div>
                            <div class="col-md-6 info">
                                <h3>Penyedia pendidikan keuangan islami terbaik</h3>
                                <p>
                                    Institut Tazkia kembali terpilih sebagai Kampus Ekonomi Syariah Terbaik di Dunia – Tazkia Islamic University College GIFA Championship Award (Education in Islamic Banking & Finance) 2021.Global Islamic Finanace Award (GIFA:2020)
                                </p>
                                <p>
                                    
                                </p>
                                
                            </div>
                        </div>
                        <!-- End Single Item -->
						
						<!-- Start Single Item -->
                        <div class="single-item">
                            <div class="col-md-6 thumb">
                                <img th:src="@{/pasca/img/pendidikanbank.jpg}" alt="Thumb">
                            </div>
                            <div class="col-md-6 info">
                                <h3>Pendidikan perbankan dan keuangan islam</h3>
                                <p>
                                    Institut Agama Islam Tazkia terpilih sebagai Kampus Pendidikan Keuangan Syariah Terbaik Dunia 2020 yang diselenggarakan oleh Global Islamic Finance Award (GIFA). Tazkia mengungguli berbagai lembaga pendidikan yang tersebar lebih di 60 negara.
                                
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Start Single Item -->
                        <div class="single-item reverse">
                            <div class="col-md-6 thumb">
                                <img th:src="@{/pasca/img/lapkertazkia.jpg}" alt="Lapangan Kerja Tazkia">
                            </div>
                            <div class="col-md-6 info">
                                <h3>Sinergi program kerja dengan dunia usaha</h3>
                                <p>
                                    Sinergi program kerja dengan dunia usaha, instansi pendidikan, pemerintah daerah dan lembaga keuangan syariah serta institusi internasional.
                                </p>
                                <p>
                                </p> 
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Start Single Item -->
                        <div class="single-item">
                            <div class="col-md-6 thumb">
                                <img th:src="@{/pasca/img/metodebelajar.jpg}" alt="Thumb">
                            </div>
                            <div class="col-md-6 info">
                                <h3>Sarana Penunjang Pembelajaran</h3>
                                <p>
                                    Sarana penunjang pembelajaran antara lain Laboratorium Komputer, Laboratorium Mini Bank, Pokok Bursa Efek, Laboratorium Enterpreunership dan Laboratorium Islamic Micro Finance.
                                
                            </div>
                        </div>
                                                <!-- Start Single Item -->
                                                <div class="single-item reverse">
                                                    <div class="col-md-6 thumb">
                                                        <img th:src="@{/pasca/img/masyarakatz.jpg}" alt="Thumb">
                                                    </div>
                                                    <div class="col-md-6 info">
                                                        <h3>Integrasi Pengetahuan kepada Masyarakat</h3>
                                                        <p>
                                                            Integrasi pengetahuan syariat dan ekonomi lokasi kampus di kawasan elit dan asri Sentul City, serta mudah di akses oleh khalayak.
                                                        </p>
                                                        <p>
                                                        </p> 
                                                    </div>
                                                </div>
                    </div>
                    <!-- End Tab Content -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Overview -->
    
	 <!-- Start Success Stories 
    ============================================= -->
    <div class="success-stories-area bg-gray">
        <div class="container-full">
            <div class="row">
                <div class="item-flex">
                    <div class="col-md-6 thumb bg-cover" style="background-image: url(pasca/img/asrama.jpg);"></div>
                    <div class="col-md-6 info">
                        <div class="heading">
                            <h4>Fasilitas Kampus Tazkia</h4>
                        </div>
                        <div class="stories-carusel owl-carousel owl-theme">
                            <!-- Single Item -->
                            <div class="item">
                                <h2>Akuntansi </h2>
                                <p>(Tax Center, Sertifikasi Brevet Pajak A dan B, MYob, data analitik, Labkom untuk belajar Oracle)
                                    <br> Kemudahan untuk melakukan pengkajian, penelitian dan sosialisasi perpajakan kepada masyarakat melalui layanan Tax Center. Dan kesempatan meraih sertifikasi Brevet Pajak A dan B serta sertifikasi MYob 
                                    </br>								
                                </p>
                                
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="item">
                                <h2>Studio Komunikasi</h2>
                                <p>
                                   <br> Dilengkapi dengan studio komunikasi yang mendukung proses pembelajaran dan perlengkapan yang memadai untuk menunjang peningkatan skills.
								   </br>
								  
                                </p>
                                
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="item">
                                <h2>Bisnis Syariah (Lab Mini Bank, Inkubator Bisnis)</h2>
                                <p>
                                    Dihadirkannya Mini Lab Bank yang membantu proses pengajaran sehingga pembelajaran menjadi simulasi operasional dan sistem perbankan. 
                                </p>
                                
                            </div>
                            <!-- End Single Item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Success Stories -->
	


    <!-- Start Testimonials 
    ============================================= -->
    <div class="testimonials-area bg-gray default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h2>Full Time <span>Lecturers</span></h2>
                        <h4>What people say about us</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="testimonial-items owl-carousel owl-theme">
                            <!-- Single Item -->
                            <div class="testimonial-item">
                                <div class="thumb col-md-4">
                                    <img th:src="@{/pasca/img/dosen/pak-elang.jpg}" alt="Thumb">
                                </div>
                                <div class="info col-md-8">
                                    <div class="content">
                                        <h4>Dr. Elang Ilik Martawijaya, S.P., M.M.</h4>
                                        <span>Risk Management</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="testimonial-item">
                                <div class="thumb col-md-4">
                                    <img th:src="@{/pasca/img/dosen/pak-levy.jpg}" alt="Doctor Ahmad Levi Fachrul Avivy">
                                </div>
                                <div class="info col-md-8">
                                    <div class="content">
                                        <h4>Dr. Ahmad Levi Fachrul Avivy, MA</h4>
                                        <span>Hadits Studies</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="testimonial-item">
                                <div class="thumb col-md-4">
                                    <img th:src="@{/pasca/img/dosen/pak_sigit.jpg}" alt="Thumb">
                                </div>
                                <div class="info col-md-8">
                                    <div class="content">
                                        <h4>Dr. Sigid Eko Pramono, MIBA.</h4>
                                        <span>Social Accounting & Auditing</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="testimonial-item">
                                <div class="thumb col-md-4">
                                    <img th:src="@{/pasca/img/dosen/pak-yono.jpg}" alt="Thumb">
                                </div>
                                <div class="info col-md-8">
                                    <div class="content">
                                        <h4>Yono Haryono, Ph.D.</h4>
                                        <span>Social Accounting & Auditing</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="testimonial-item">
                                <div class="thumb col-md-4">
                                    <img th:src="@{/pasca/img/dosen/madam-murniati.jpg}" alt="Assoc Prof Murniati Mukhlisin">
                                </div>
                                <div class="info col-md-8">
                                    <div class="content">
                                        <h4>Assoc. Prof. Dr. Murniati Mukhlisin, M.Acc., CFP., IFP</h4>
                                        <span>Islamic Financial Accounting</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="testimonial-item">
                                <div class="thumb col-md-4">
                                    <img th:src="@{/pasca/img/dosen/pak_arip.jpg}" alt="Thumb">
                                </div>
                                <div class="info col-md-8">
                                    <div class="content">
                                        <h4>Dr. Arip Rahman, Lc, DESA</h4>
                                        <span>Islamic Thought</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="testimonial-item">
                                <div class="thumb col-md-4">
                                    <img th:src="@{/pasca/img/dosen/bu-ela.jpg}" alt="Thumb">
                                </div>
                                <div class="info col-md-8">
                                    <div class="content">
                                        <h4>Dr. Sugiyarti Fatma Laela, M.Buss. Acc., CMA. CIBA</h4>
                                        <span>Islamic Perspective on Corporate Governance & Management Accounting</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials -->
   

<!-- Start Team  
    ============================================= -->
    <div id="team" class="team-area default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h2>Kiprah <span>Alumni</span></h2>
                        <h4></h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="team-items">
                    <div class="col-md-4 single-item">
                        <div class="item">
                            <div class="thumb">
                                <img th:src="@{/pasca/img/800x800.jpg}" alt="Thumb">
                                <div class="overlay">
                                    <h4></h4>
                                    <p>
                                        "Kampus ini memberikan pengalaman belajar yang luar biasa. Mereka memiliki fasilitas modern yang membuat belajar menjadi menyenangkan. Dosen maupun guru yang sangat menyenangkan dan peduli tentang keberhasilan siswa. Saya benar-benar senang bisa menjadi bagian dari kampus ini."
                                    </p>
                                    
                                </div>
                            </div>
                            <div class="info">
                                <span class="message">
                                    <a href="#"><i class="fas fa-envelope-open"></i></a>
                                </span>
                                <h4>Nurul Wafa</h4>
                                <span>Ekonomi Syariah Angkatan 18</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 single-item">
                        <div class="item">
                            <div class="thumb">
                                <img th:src="@{/pasca/img/hilman.jpg}" alt="Thumb">
                                <div class="overlay">
                                    <h4></h4>
                                    <p>
                                        "Kampus saya sangat menyenangkan dan memberikan banyak pengalaman yang berharga. Saya suka kelas yang saya ikuti dan berbagai kegiatan yang disediakan. Akademisi yang mengajar saya sangat menarik dan dapat membantu saya mencapai tujuan saya."
                                    </p>
                                    
                                </div>
                            </div>
                            <div class="info">
                                <span class="message">
                                    <a href="#"><i class="fas fa-envelope-open"></i></a>
                                </span>
                                <h4>Ust. Hilman Fauzi</h4>
                                <span>Ekonomi Syariah Angkatan 9</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 single-item">
                        <div class="item">
                            <div class="thumb">
                                <img th:src="@{/pasca/img/tegar.jpg}" alt="Thumb">
                                <div class="overlay">
                                    <h4></h4>
                                    <p>
                                        "Kampus saya sangat luar biasa! Mereka memiliki fasilitas yang hebat dan berbagai kursus yang tersedia untuk membantu Anda mencapai tujuan akademik dan profesional Anda."
                                    </p>
                                    
                                </div>
                            </div>
                            <div class="info">
                                <span class="message">
                                    <a href="#"><i class="fas fa-envelope-open"></i></a>
                                </span>
                                <h4>Tegar Iman</h4>
                                <span>Manajemen Bisnis Syariah Angkatan 18</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Team -->

   

    <!-- Start Faq  
    ============================================= -->
    <div class="faq-area default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h2>Panduan Pendaftaran <span>Kampus Tazkia</span></h2>
                        <h4>5 langkah mudah mendaftar menjadi Mahasiswa Baru</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Star Video Faq -->
                <div class="col-md-6 video-faq">
                    <div class="video">
                        <img th:src="@{/pasca/img/daftar.jpg}" alt="Thumb">
                        <a class="popup-youtube light video-play-button" href="https://www.youtube.com/watch?v=uLZfmqyvrzY">
                            <i class="fa fa-play"></i>
                        </a>
                        <h4>Answer with video</h4>
                    </div>
                </div>
                <!-- End Video Faq -->

                <!-- Star Accordion Items -->
                <div class="col-md-6 faq-items">
                    <div class="acd-items acd-arrow">
                        <div class="panel-group symb" id="accordion">

                            <!-- Single Item -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent #accordihref="#ac1">
                                            <span>1</span>  Mendaftar Lewat Online
                                        </a>
                                    </h4>
                                </div>
                                <div id="ac1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>
                                            Pendaftaran dengan cara mengisi formulir yang diminta. Pastikan isian sama sesuai dengan ijazah dan alamat email serta nomor handphone Anda aktif
                                        </p>
                                        <p>
                                             
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->

                            <!-- Single Item -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#ac2">
                                            <span>2</span>  Terima Notifikasi tagihan
                                        </a>
                                    </h4>
                                </div>
                                <div id="ac2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Calon Mahasiswa Baru akan menerima Notifikasi tagihan pembayaran pendaftaran melalui Email yang 
                                            didaftarkan atau dapat check di dashboard pendaftran pada menu Tagihan, Biaya untuk S1 Kelas karyawan sebesar Rp. 300.000,-  
                                        </p>
                                        <p>
                                             
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->

                            <!-- Single Item -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#ac3">
                                            <span>3</span> Melakukan pembayaran
                                        </a>
                                    </h4>
                                </div>
                                <div id="ac3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Calon Mahasiswa Baru melakukan pembayaran sesuai tagihan dan No.Rek Account Virtual yang tertera melalui Bank Syariah Indonesia atau CIMB Niaga Syariah.
                                        </p>
                                        <p>
                                             
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->

                           
							
							<!-- Single Item -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#ac6">
                                            <span>6</span> Hasil test
                                        </a>
                                    </h4>
                                </div>
                                <div id="ac6" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Hasil test dapat dilihat di dashboard pendaftar pada menu hasil test.
                                        </p>
                                        <p>
                                             
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
							
							<!-- Single Item -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#ac7">
                                            <span>7</span> Daftar ulang
                                        </a>
                                    </h4>
                                </div>
                                <div id="ac7" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Untuk mendapatkan tagihan daftar ulang Login di web spmb.tazkia.ac.id/login pada tab/menu daftar ulang klik tombol kirim tagihan. Atau silahkan hubungi panitia di nomor 0821-84-800-600
                                        </p>
                                        <p>
                                             
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->

                        </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    <!-- End Accordion -->
					
					
                </div>
            </div>
        </div>
    </div>
    <!-- End Faq  -->  

    <!-- Start Google Maps 
    ============================================= -->
    <div class="faq-area default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h2>Lokasi <span>Kampus Tazkia</span></h2>
                        <h4>Lokasi Institut Agama Islam Tazkia Sentul</h4>
                    </div>
                </div>
            </div>
    <div class="maps-area">
        <div class="container-full">
            <div class="row">
                <div class="google-maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9703.308473548155!2d106.85014840237689!3d-6.572507714543568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69c5c777e11211%3A0xc5ab7788a51fc54b!2sInstitut%20Tazkia%20-%20Islamic%20Economics%20%26%20Business%20Law%20Education!5e0!3m2!1sen!2sid!4v1672123019887!5m2!1sen!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- End Google Maps -->

        <!-- Start Blog  
    ============================================= -->
    <div id="blog" class="blog-area  default-padding">
        <div class="container-full">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h2>Artikel <span>Terbaru</span></h2>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-16">
                    <div class="blog-items blog-carousel owl-carousel owl-theme">
                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                                
             
                            </div>
                            <div class="info">
                                <h4>
                                <a   th:href="@{/s2-pascasarjana-murah-bogor}">
                                    Program S2 Pascasarjana Murah Bogor
                                </a>
                                </h4>
                                <p>
                                    program Kelas Karyawan dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->
                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                               

                            </div>
                            <div class="info">
                                <h4>
                                    <a   th:href="@{/s2-kelas-karyawan-bogor}">
                                    Program S2 Kelas Karyawan Murah Bogor
                                    </a>
                                </h4>
                                <p>
                                    program Kelas Karyawan dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->
                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                                
                        
                            </div>
                            <div class="info">
                                <h4>
                                    <a   th:href="@{/s2-kelas-karyawan-cepat-lulus-murah}">
                                    Program S2 Kelas Karyawan Cepat Lulus Murah
                                    </a>
                                </h4>

                                <p>
                                    program Kelas Karyawan dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->
                       
                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                               
                        
                            </div>
                            <div class="info">
                                <h4>
                                    <a   th:href="@{/s2-pascasarjana-magister-biaya-daftar-gratis}">
                                    Program S2 Pascasarjana Magister Biaya Daftar Gratis
                                    </a>
                                </h4>

                                <p>
                                    program Kelas Karyawan dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                                
                        
                            </div>
                            <div class="info">
                                <h4>
                                    <a   th:href="@{/s2-magister-pascasarjana-kelas-lulus-1-5-tahun}">
                                    Program S2 Magister Pascasarjana Kelas Lulus 1,5 Tahun
                                    </a>
                                </h4>

                                <p>
                                    program Kelas Karyawan dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                                
                        
                            </div>
                            <div class="info">
                                <h4>
                                    <a   th:href="@{/s2-pascasarjana-magister-akuntansi-gratis}">
                                    Program S2 Pascasarjana Magister Akuntansi Gratis
                                    </a>
                                </h4>

                                <p>
                                    program Kelas Karyawan dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                                
                        
                            </div>
                            <div class="info">
                                <h4>
                                    <a   th:href="@{/s2-pascasarjana-magister-ekonomi-gratis}">
                                    Program S2 Pascasarjana Magister Ekonomi Gratis
                                    </a>
                                </h4>

                                <p>
                                    program Kelas Karyawan dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                                
                        
                            </div>
                            <div class="info">
                                <h4>
                                    <a   th:href="@{/s2-magister-pascasarjana-gratis-uang-pangkal}">
                                    Program S2 Magister Pascasarjana Gratis Uang Pangkal
                                    </a>
                                </h4>

                                <p>
                                    program Kelas Karyawan dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                                
                        
                            </div>
                            <div class="info">
                                <h4>
                                    <a   th:href="@{/s2-pascasarjana-magister-kuliah-online}">
                                    Program S2 Pascasarjana Magister Kuliah Online
                                    </a>
                                </h4>

                                <p>
                                    program Kelas Karyawan dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                                
                        
                            </div>
                            <div class="info">
                                <h4>
                                    <a   th:href="@{/s2-pascasarjana-magister-kuliah-fleksibel}">
                                    Program S2 Pascasarjana Magister Kuliah Fleksibel
                                    </a>
                                </h4>

                                <p>
                                    program Kelas Karyawan dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. 
                                    pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog -->

    <!-- Start Footer 
    ============================================= -->
    <footer class="default-padding-top bg-light">
        <div class="container">
            <div class="row">
                <div class="f-items">
                    <div class="col-md-4 col-sm-6 equal-height item">
                        <div class="f-item about">
                            <img th:src="@{/pasca/img/logopascatazkia.png}" alt="Logo">


                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </footer>
    <!-- End Footer -->
    

    <!-- jQuery Frameworks
    ============================================= -->
    <script th:src="@{/pasca/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/pasca/js/bootstrap.min.js}"></script>
    <script th:src="@{/pasca/js/equal-height.min.js}"></script>
    <script th:src="@{/pasca/js/jquery.appear.js}"></script>
    <script th:src="@{/pasca/js/jquery.easing.min.js}"></script>
    <script th:src="@{/pasca/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/pasca/js/modernizr.custom.13711.js}"></script>
    <script th:src="@{/pasca/js/owl.carousel.min.js}"></script>
    <script th:src="@{/pasca/js/wow.min.js}"></script>
    <script th:src="@{/pasca/js/count-to.js}"></script>
    <script th:src="@{/pasca/js/bootsnav.js}"></script>
    <script th:src="@{/pasca/js/main.js}"></script>

</body>
</html>