<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dostart - Startup Landing Page">

    <!-- ========== Page Title ========== -->
    <title>SPMB - Institut TAZKIA</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" th:href="@{/assets/img/favicon.png}" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/assets/css/font-awesome.min.css}" rel="stylesheet" />
    <link th:href="@{/assets/css/flaticon-set.css}" rel="stylesheet" />
    <link th:href="@{/assets/css/magnific-popup.css}" rel="stylesheet" />
    <link th:href="@{/assets/css/owl.carousel.min.css}" rel="stylesheet" />
    <link th:href="@{/assets/css/owl.theme.default.min.css}" rel="stylesheet" />
    <link th:href="@{/assets/css/animate.css}" rel="stylesheet" />
    <link th:href="@{/assets/css/bootsnav.css}" rel="stylesheet" />
    <link th:href="@{/assets/style.css}" rel="stylesheet">
    <link th:href="@{/assets/css/responsive.css}" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->

    <!-- HTML5 shim and Respond.js} for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js} doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{/assets/js/html5/html5shiv.min.js}"></script>
    <script th:src="@{/assets/js/html5/respond.min.js}"></script>
    <![endif]-->

    <!-- ========== Google Fonts ========== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

</head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KCTNBWL');</script>
<!-- End Google Tag Manager -->
<body>
<!-- GetButton.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            tiktok: "kampustazkia", // Tiktok Account
            whatsapp: "+6282184800600", // WhatsApp number
            call_to_action: "Hubungi kami", // Call to action
            button_color: "#FF6550", // Color of button
            position: "right", // Position may be 'right' or 'left'
            order: "tiktok,whatsapp", // Order of buttons
        };
        var proto = 'https:', host = "getbutton.io", url = proto + '//static.' + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- /GetButton.io widget -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KCTNBWL"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Preloader Start -->
<div class="se-pre-con"></div>
<!-- Preloader Ends -->
<!-- Preloader Start -->
<div class="se-pre-con"></div>
<!-- Preloader Ends -->

<!-- Header
============================================= -->
<header id="home">

    <!-- Start Navigation -->
    <nav class="navbar navbar-default navbar-sticky bootsnav">

        <div class="container">



            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" th:href="@{/sarjanaReguler}">
                    <img th:src="@{/assets/img/logo.png}" class="logo logo-display" alt="Logo">
                </a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right" data-in="#" data-out="#">
                    <li>
                        <a class="smooth-menu" href="https://beasiswa.tazkia.ac.id">S1 Reguler</a>
                    </li>
                    <li>
                        <a class="smooth-menu" href="http://kelaskaryawan.tazkia.ac.id">S1 Kelas Karyawan</a>
                    </li>
                    <li>
                        <a class="smooth-menu" href="https://pascasarjana.tazkia.ac.id">S2 Magister</a>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div>

    </nav>
    <!-- End Navigation -->

</header>
<!-- End Header -->

<!-- Start Banner
============================================= -->
<div class="banner-area text-small content-double text-light bg-fixed" style="background-image: url(assets/img/headerjuni.jpg);">
    <div class="box-table">
        <div class="box-cell">
            <div class="container">
                <div class="row">
                    <div class="double-items">
                        <!-- Banner Left Content -->
                        <div class="info col-md-6">
                            <div class="content">
                                <h1></h1>
                                <p>
                                </p>
                            </div>
                        </div>
                        <!-- End Banner Left Content -->

                        <!-- Start Banner Form -->
                        <div class="form col-md-5 light col-md-offset-1">
                            <div class="form-info">
                                <h2>Isi data diri untuk informasi <span>Potongan Uang Pangkal</span>.</h2>
                                <form th:action="@{/sarjanaReguler}" method="post">
                                    <input type="text" th:value="${utm_medium}" name="utm_medium" placeholder="utm_medium" hidden>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="form-group">
                                                <input class="form-control" required name="nama" placeholder="Nama Lengkap" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="form-group">
                                                <input class="form-control" required name="email" placeholder="Email" type="email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="form-group">
                                                <select name="asalKota" class="js-example-placeholder-single form-control"  required autofocus><!--th:field="*{programStudi}"-->
                                                    <option value=""> ~ Pilih Asal Kota ~ </option>
                                                    <option th:each="ins : ${daftarKokab}"
                                                            th:value="${ins.nama}"
                                                            th:text="${ins.nama}">
                                                        Ekonomi Syariah</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="form-group">
                                                <input class="form-control" required name="asalSekolah" placeholder="Asal SMA" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="form-group">
                                                <input type="number" class="form-control" required name="noWa" placeholder="No Whatsapp">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="form-group">
                                                <select class="form-control" required name="kelasSma">
                                                    <option>~ Pilih Kelas ~</option>
                                                    <option value="10">Kelas 10</option>
                                                    <option value="11">Kelas 11</option>
                                                    <option value="12">Kelas 12</option>
                                                    <option value="Sudah Lulus">Sudah Lulus</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <button type="submit">
                                                KIRIM
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- End Banner Form -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner -->

<!-- Start About
============================================= -->
<div id="about" class="about-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5 thumb">
                <img th:src="@{/assets/img/700x800.jpg}" alt="Thumb">
            </div>
            <div class="col-md-7 default info">
                <h4>Kampus Tazkia</h4>
                <h2>Kenapa Memilih Kampus Tazkia?</h2>

                <ul>
                    <li>
                        <h5>Islamic Ecosystem</h5>
                        <span>Institut Tazkia memiliki ekosistem dan lingkungan yang sangat bernuansa islami. Salah satunya dengan program Asrama 2 semester yang mampu membuat para mahasiswa memiliki karakter dan nila-nilai moral yang kuat. Serta mengarahkan para mahasiswa menjadi hafizh dan hafizah.</span>
                    </li>
                    <li>
                        <h5>Lokasi strategis</h5>
                        <span>Berlokasi di area Sentul City Bogor Jawa Barat, dengan panoramic view dan udara yang sejuk mendukung suasana pembelajaran yang nyaman. Disertai Kemudahan akses ke area bisnis dan pariwisata yang bisa digunakan point of view dalam pembelajaran bisnis.</span>
                    </li>
                    <li>
                        <h5>Supported by Tazkia Group</h5>
                        <span>Didukung oleh para profesional untuk mendapat pengalaman terkait ilmu dan praktik bisnis langsung dari Industri Tazkia Group.</span>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
<!-- End About -->

<!-- Start We Offer
============================================= -->
<div class="we-offer-area text-center bg-gray default-padding bottom-less">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>PILIHAN<span> Program Studi</span></h2>
                    <h4>Institut Tazkia</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="our-offer-items less-carousel">
                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <img th:src="@{/assets/img/6.png}" alt="Thumb">
                        <h4>Pendidikan Ekonomi Islam</h4>
                        <p>
                            Fokus pada penyiapan tenaga ahli dan terampil sebagai guru, dengan kekhususan sebagai pendidik yang mempunyai berbagai keterampilan khusus
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <img th:src="@{/assets/img/kpi.png}" alt="Thumb">
                        <h4>Komunikasi Penyiaran Islam</h4>
                        <p>
                            Jurusan yang mempelajari ilmu tentang komunikasi dalam bidang pers, penyiaran, dan retorika yang didasarkan oleh nilai-nilai Islam.
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <img th:src="@{/assets/img/hukum.png}" alt="Thumb">
                        <h4>Hukum Ekonomi Syariah</h4>
                        <p>
                            Kamu akan disiapkan untuk terjun ke dunia kerja di seperti lembaga keuangan syariah, lembaga zakat dan wakaf,serta pengadilan negeri.
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <img th:src="@{/assets/img/es.png}" alt="Thumb">
                        <h4>Ekonomi Syariah</h4>
                        <p>
                            Kamu akan mengkaji prinsip-prinsip ekonomi sesuai dengan prinsip syariah Islam yakni berlandaskan Al-Qur’an, hadis, beserta kaidah-kaidah fiqih turunannya.
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <img th:src="@{/assets/img/mbs.png}" alt="Thumb">
                        <h4>Manajemen Bisnis Syariah</h4>
                        <p>
                            Program studi manajemen bisnis syariah merupakan jurusan yang menawarkan pengembangan keuangan serta passion bisnis syariah.
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <img th:src="@{/assets/img/as.png}" alt="Thumb">
                        <h4>Akuntansi Syariah</h4>
                        <p>
                            Sebuah cabang ilmu perekonomian di bidang akuntansi seperti pencatatan transaksi, pelaporan, dan keputusan yang berdasarkan ajaran Islam.
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
</div>
<!-- End We Offer -->

<!-- Start Features
============================================= -->
<div id="features" class="features-area cell-items default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>BEASISWA <span>S1 Tahun Akademik 2023/2024</span></h2>
                    <h4>Jalur Penerimaan Mahasiswa Baru S1 Tahun Akademik 2023/2024</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="features-items reversed icon-solid less-icon">
                <div class="col-md-7 info-box">
                    <div class="items-box inc-cell">
                        <div class="col-md-6 col-sm-6 equal-height">
                            <div class="item">
                                <div class="icon">
                                    <img th:src="@{assets/img/raport.png}" alt="Thumb">
                                </div>
                                <div class="info">
                                    <h4>BEASISWA SELEKSI JALUR RAPOR</h4>
                                    <p>
                                        Memfokuskan seleksi pada nilai rapor siswa selama periode belajar sebelumnya, seperti nilai rata-rata, kegiatan ekstrakurikuler, keterlibatan dalam organisasi, dan lain-lain.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 equal-height">
                            <div class="item">
                                <div class="icon">
                                    <img th:src="@{/assets/img/santri icon.png}" alt="Thumb">
                                </div>
                                <div class="info">
                                    <h4>BEASISWA JALUR SMART TES</h4>
                                    <p>
                                        Jalur Smart Test yang ditujukan bagi siswa SMA / SMK / MA / Pesantren di seluruh Indonesia. Jalur Jalur Smart Tes merupakan jalur seleksi tes online yang menyediakan berbagai beasiswa bagi pendaftar yang berhasil.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-5 thumb">
                    <img th:src="@{/assets/img/wisuda.jpg}" alt="Thumb">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Features -->

<!-- Start Success Stories
============================================= -->
<div class="success-stories-area bg-gray">
    <div class="container-full">
        <div class="row">
            <div class="item-flex">
                <div class="col-md-6 thumb bg-cover" style="background-image: url(assets/img/asrama.jpg);"></div>
                <div class="col-md-6 info">
                    <div class="heading">
                        <h4>Keunggulan Kampus Tazkia</h4>
                    </div>
                    <div class="stories-carusel owl-carousel owl-theme">
                        <!-- Single Item -->
                        <div class="item">
                            <h2> Penerima Penghargaan GIFA AWARD dan IAEI</h2>
                            <p>
                                <br> THE BEST ISLAMIC FINANCE EDUCATION PROVIDER : Global Islamic Finance Award 2020 </br>
                                EDUCATION IN ISLAMIC BANKING & FINANCE : Global Islamic Finance Award 2021
                            </p>

                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="item">
                            <h2>Memiliki Program Hafiz Preneur dan Internasional</h2>
                            <p>
                                <br> Program pembelajaran S1 yang ditujukan untuk mahasiswa yang ingin mempelajari keterampilan berwirausaha dan inovasi. Selain belajar ilmu ekonomi dan bisnis syariah, mahasiswa program ini akan di bimbing khusus untuk menyelesaikan hafalan Al-Qur'an 30 Juz.
                                </br>
                                di kelas Internasional mahasiswa akan belajar menggunakan bahasa Inggris sebagai bahasa pengantar. Metode pembelajaran yang diterapkan adalah Content and language Integrated Learning (CLIL) Menthod.
                            </p>

                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="item">
                            <h2>Fasilitas Penunjang</h2>
                            <p>
                                Beberapa contoh fasilitas penunjang yang umumnya digunakan adalah Masjid Andalusia, Inkubator Bisnis, Lab Bank mini, Galeri Investasi, Tax Center, Perpustakaan, Ruang Pengadilan Semu, dan Studio.
                            </p>

                        </div>
                        <!-- End Single Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Success Stories -->

   <!-- Start Overview 
    ============================================= -->
    <div id="overview" class="work-list-area default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="site-heading text-center">
                        <h2>Program <span>Beasiswa</span></h2>
                        <h4>Kampus Tazkia</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 overview-items solid-items">
                    <!-- Start Tab Content -->
                    <div class="row">

                        <!-- Start Single Item -->
                        <div class="single-item">
                            <div class="col-md-6 thumb">
                                <img th:src="@{/assets/img/beasiswagemilang.jpg}" alt="BeasiswaTazkiaGemilang">
                            </div>
                            <div class="col-md-6 info">
                                <h3>Beasiswa Tazkia Gemilang</h3>
                                <p>
                                    Merupakan Program Beasiswa Tazkia Gemilang Yayasan Tazkia Cendikia Berupa potongan Uang Pangkal yang diperuntukan untuk sekolah SMA/SMK IT (Islam Terpadu) Seluruh Indonesia.
                                </p>
                                <p>
                                    program penerimaan mahasiswa baru melalui evaluasi nilai rapor semester I s/d IV dengan nilai rata-rata minimal 70. Adapun peserta yang dapat mengikuti program ini adalah siswa/i lulusan SMA/SMK/MA dengan tahun lulusan 2022 & 2023.
                                </p>
                                <ul>
                                    <li> 
                                        <h4>Lulusan SMA/SMK/MA Negeri dan Swasta dengan tahun lulusan 2022 & 2023. </h4> 
                                    </li>
                                    <li>
                                        <h4>Potongan Pendaftaran dan Uang Pangkal.</h4>
                                    </li>
                                    <li>
                                        <h4>UpLoad Nilai Rapor Kelas 10 dan 11 </h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Item -->

                        

                        <!-- Start Single Item -->
                        <div class="single-item reverse">
                            <div class="col-md-6 thumb">
                                <img th:src="@{/assets/img/beasiswacendikia.jpg}" alt="BeasiswaTazkiaCendikia">
                            </div>
                            <div class="col-md-6 info">
                                <h3>Beasiswa Yayasan Tazkia Cendikia</h3>
                                <p>
                                    Merupakan Program Beasiswa Yayasan Tazkia Cendikia Berupa pembebasan Pendaftaran , Uang Pangkal dan UKT yang diperuntukan untuk sekolah SMA/SMK IT (Islam Terpadu) Seluruh Indonesia .
                                </p>
                                <p>
                                    Adapun peserta yang dapat mengikuti program ini adalah siswa/i lulusan SMA/SMK/MA dengan Mengikuti Seleksi Smart Tes dengan jadwal yg telah di tentukan.
                                </p>
                                <ul>
                                    <li> 
                                        <h4>Lulusan SMA/SMK IT (Islam Terpadu) dengan tahun lulusan 2021, 2022 & 2023.</h4> 
                                        
                                    </li>
                                    <li>
                                        <h4>Pembebasan Pendaftaran, Uang Pangkal, dan UKT</h4>
                                        
                                    </li>
                                    <li>
                                        <h4>Mengikuti Smart Test</h4>
                                        
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Item -->

                        <!-- Start Single Item -->
                        <div class="single-item">
                            <div class="col-md-6 thumb">
                                <img th:src="@{/assets/img/beasiswaunggulan.jpg}" alt="BeasiswaTazkiaUnggulan">
                            </div>
                            <div class="col-md-6 info">
                                <h3>Beasiswa Tazkia Unggulan</h3>
                                <p>
                                    Merupakan Program Beasiswa Tazkia Unggulan Yayasan Tazkia Cendikia Berupa Pembebasan Pendaftaran dan Uang Pangkal yang diperuntukan untuk sekolah SMA/SMK IT (Islam Terpadu) Seluruh Indonesia .
                                </p>
                                <p>
                                    Adapun peserta yang dapat mengikuti program ini adalah siswa/i lulusan SMA/SMK/MA/Santri dengan Mengikuti Seleksi Smart Tes dengan jadwal yg telah di tentukan.
                                </p>
                                <ul>
                                    <li> 
                                        <h4>Lulusan SMA/SMK/Santri IT (Islam Terpadu) dengan tahun lulusan 2021, 2022 & 2023.</h4> 
                                        
                                    </li>
                                    <li>
                                        <h4>Pembebasan Pendaftaran dan Uang Pangkal</h4>
                                        
                                    </li>
                                    <li>
                                        <h4>Mengikuti Smart Test</h4>
                                        
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Item -->

                    </div>
                    <!-- End Tab Content -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Overview -->

<!-- Start Success Stories
============================================= -->
<div class="success-stories-area bg-gray">
    <div class="container-full">
        <div class="row">
            <div class="item-flex">
                <div class="col-md-6 thumb bg-cover" style="background-image: url(assets/img/hargabarureg.jpeg);"></div>
                <div class="col-md-6 info">
                    <div class="heading">
                        <h4></h4>
                    </div>
                    <div class="stories-carusel owl-carousel owl-theme">
                        <!-- Single Item -->
                        <div class="item">
                            <h2>Uang Pangkal</h2>
                            <p>
                                Uang pangkal adalah uang masuk kuliah atau Daftar Ulang, dibayarkan satu kali saat kita akan masuk kuliah.
                            </p>
                            <a href="#" class="btn btn-theme effect btn-sm">Read More</a>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="item">
                            <h2>UKT</h2>
                            <p>
                                UKT (uang kuliah Tunggal) adalah uang yang dibayarkan rutin setiap semester sebelum perkuliahan aktif dimulai.
                            </p>
                            <a href="#" class="btn btn-theme effect btn-sm">Read More</a>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="item">
                            <h2>Biaya Asrama Per Bulan</h2>
                            <p>
                                Biaya asrama adalah biaya yang mencakup tempat tinggal,makan 3x dan laundry di tahun pertama perkuliahan. Biaya asrama selama 1 tahun sebesar Rp 15.000.000 di bayar sebelum perkuliahan di mulai. Atau cicil Rp 1.500.000/BLN.
                            </p>
                            <a href="#" class="btn btn-theme effect btn-sm">Read More</a>
                        </div>
                        <!-- End Single Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Success Stories -->


<!-- Start Pricing Area
============================================= -->


<!-- Start Team
    ============================================= -->
<div id="team" class="team-area default-padding bottom-less">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>Kiprah <span>Alumni</span></h2>
                    <h4></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="team-items">
                <div class="col-md-4 single-item">
                    <div class="item">
                        <div class="thumb">
                            <img th:src="@{/assets/img/800x800.jpg}" alt="Thumb">
                            <div class="overlay">
                                <h4></h4>
                                <p>
                                    "Kampus ini memberikan pengalaman belajar yang luar biasa. Mereka memiliki fasilitas modern yang membuat belajar menjadi menyenangkan. Guru-guru yang sangat menyenangkan dan peduli tentang keberhasilan siswa. Saya benar-benar senang bisa menjadi bagian dari kampus ini."
                                </p>
                                <div class="social">
                                    <ul>
                                        <li class="twitter">
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li class="pinterest">
                                            <a href="#"><i class="fab fa-pinterest"></i></a>
                                        </li>
                                        <li class="instagram">
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li class="vimeo">
                                            <a href="#"><i class="fab fa-vimeo-v"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="info">
                                <span class="message">
                                    <a href="#"><i class="fas fa-envelope-open"></i></a>
                                </span>
                            <h4>Nurul Wafa</h4>
                            <span>Ekonomi Syariah Angkatan 18</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 single-item">
                    <div class="item">
                        <div class="thumb">
                            <img th:src="@{/assets/img/hilman.jpg}" alt="Thumb">
                            <div class="overlay">
                                <h4></h4>
                                <p>
                                    "Kampus saya sangat menyenangkan dan memberikan banyak pengalaman yang berharga. Saya suka kelas yang saya ikuti dan berbagai kegiatan yang disediakan. Akademisi yang mengajar saya sangat menarik dan dapat membantu saya mencapai tujuan saya."
                                </p>
                                <div class="social">
                                    <ul>
                                        <li class="twitter">
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li class="pinterest">
                                            <a href="#"><i class="fab fa-pinterest"></i></a>
                                        </li>
                                        <li class="instagram">
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li class="vimeo">
                                            <a href="#"><i class="fab fa-vimeo-v"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="info">
                                <span class="message">
                                    <a href="#"><i class="fas fa-envelope-open"></i></a>
                                </span>
                            <h4>Ust. Hilman Fauzi</h4>
                            <span>Ekonomi Syariah Angkatan 9</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 single-item">
                    <div class="item">
                        <div class="thumb">
                            <img th:src="@{/assets/img/tegar.jpg}" alt="Thumb">
                            <div class="overlay">
                                <h4></h4>
                                <p>
                                    "Kampus saya sangat luar biasa! Mereka memiliki fasilitas yang hebat dan berbagai kursus yang tersedia untuk membantu Anda mencapai tujuan akademik dan profesional Anda."
                                </p>
                                <div class="social">
                                    <ul>
                                        <li class="twitter">
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li class="pinterest">
                                            <a href="#"><i class="fab fa-pinterest"></i></a>
                                        </li>
                                        <li class="instagram">
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li class="vimeo">
                                            <a href="#"><i class="fab fa-vimeo-v"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="info">
                                <span class="message">
                                    <a href="#"><i class="fas fa-envelope-open"></i></a>
                                </span>
                            <h4>Tegar Iman</h4>
                            <span>Manajemen Bisnis Syariah Angkatan 18</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Team -->



<!-- Start Faq
============================================= -->
<div class="faq-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>Panduan Pendaftaran <span>Kampus Tazkia</span></h2>
                    <h4>5 langkah mudah mendaftar menjadi Mahasiswa Baru</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Star Video Faq -->
            <div class="col-md-6 video-faq">
                <div class="video">
                    <img th:src="@{/assets/img/daftar.jpg}" alt="Thumb">
                    <a class="popup-youtube light video-play-button" href="https://www.youtube.com/watch?v=uLZfmqyvrzY">
                        <i class="fa fa-play"></i>
                    </a>
                    <h4>Answer with video</h4>
                </div>
            </div>
            <!-- End Video Faq -->

            <!-- Star Accordion Items -->
            <div class="col-md-6 faq-items">
                <div class="acd-items acd-arrow">
                    <div class="panel-group symb" id="accordion">

                        <!-- Single Item -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#ac1">
                                        <span>1</span>  Online di spmb.tazkia.ac.id
                                    </a>
                                </h4>
                            </div>
                            <div id="ac1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>
                                        Online di spmb.tazkia.ac.id kemudian mengisi formulir yang diminta. Pastikan isian sama sesuai dengan ijazah dan alamat email serta nomor handphone Anda aktif
                                    </p>
                                    <p>

                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#ac2">
                                        <span>2</span> Terima Notifikasi tagihan
                                    </a>
                                </h4>
                            </div>
                            <div id="ac2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        Calon Mahasiswa Baru akan menerima Notifikasi tagihan pembayaran pendaftaran melalui Email yang didaftarkan atau dapat check di dashboard pendaftran pada menu Tagihan, Biaya untuk S1 sebesar Rp. 300.000,-
                                    </p>
                                    <p>

                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#ac3">
                                        <span>3</span> Melakukan pembayaran
                                    </a>
                                </h4>
                            </div>
                            <div id="ac3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        Calon Mahasiswa Baru melakukan pembayaran sesuai tagihan dan No.Rek Account Virtual yang tertera melalui Bank Syariah Indonesia atau CIMB Niaga Syariah.
                                    </p>
                                    <p>

                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#ac4">
                                        <span>4</span> Pilih waktu test
                                    </a>
                                </h4>
                            </div>
                            <div id="ac4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        Pada menu jalur test silahkan pilih hari tanggal dan waktu test yang diinginkan. Sampai muncul kartu ujian.
                                    </p>
                                    <p>

                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#ac3">
                                        <span>5</span> Up load nilai rapor
                                    </a>
                                </h4>
                            </div>
                            <div id="ac3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        Ikuti test atau kirim berkas sesuai jadwal yang telah di pilih, test dapat dilaksanakan di kampus tazkia atau online. Untuk Jalur Raport silahkan upload scan raport pada kolom yg tertera.
                                    </p>
                                    <p>

                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#ac3">
                                        <span>6</span> Hasil test
                                    </a>
                                </h4>
                            </div>
                            <div id="ac3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        Hasil test dapat dilihat di dashboard pendaftar pada menu hasil test.
                                    </p>
                                    <p>

                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#ac3">
                                        <span>7</span> Daftar ulang
                                    </a>
                                </h4>
                            </div>
                            <div id="ac3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        Untuk mendapatkan tagihan daftar ulang Login di web spmb.tazkia.ac.id/login pada tab/menu daftar ulang klik tombol kirim tagihan. Atau silahkan hubungi panitia di nomor 0821-84-800-600
                                    </p>
                                    <p>

                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->

                    </div>
                </div>
                <!-- End Accordion -->


            </div>
        </div>
    </div>
</div>
<!-- End Faq  -->



<!-- Start Signup
============================================= -->
<div class="signup-area bg-fixed shadow dark text-light default-padding text-center" style="background-image: url(assets/img/konsultan.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3>Perlu Konsultasi seputar program studi, cicilan, beasiswa dan pendaftaran?</h3>
                <p>
                    Pertanyaan seputar program studi dan beasiswa dapat menghubungi edu consultant kami..
                </p>
                <a href="https://wa.me/082184800600" class="btn circle btn-light effect btn-md">Konsultasi</a>
                <a href="https://spmb.tazkia.ac.id/sarjanaReguler" class="btn circle btn-light effect btn-md">Daftar Sekarang</a>

            </div>
        </div>
    </div>
</div>
<!-- End Signup -->

    <!-- kenapa Memilih Beasiswa Tazkia
    ============================================= -->
    <div id="about" class="about-area default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-5 thumb">
                    <img src="assets/img/700x800.JPG" alt="Thumb">
                </div>
                <div class="col-md-7 default info">
                    <h4>Kenapa Mengikuti Beasiswa Jalur Rapor?</h4>
                    <h2>Beasiswa Tazkia</h2>
                    
                    <ul>
                        <li>
                            <h5>Tanpa TES</h5>
                            <span>Seleksi penerimaan mahasiswa baru jenjang Sarjana tahun akademik 2023/2024 bertujuan untuk meningkatkan mutu input mahasiswa baru dan sebagai bentuk penghargaan kepada siswa yang memiliki nilai prestasi akademik yang tercatat di dalam rapor.</span>
                        </li>
                        <li>
                            <h5>PERSYARATAN</h5>
                            <span>Memiliki Ijazah atau Surat Keterangan Lulus dari SMA/MA/SMK/MAK/PESANTREN tahun 2023.</span>
                            <span>Memiliki nilai Rapor mulai semester 1 sampai dengan semester 5 yang telah disahkan oleh kepala sekolah.</span>
                        </li>
                        <li>
                            <h5>Beasiswa TAZKIA GEMILANG</h5>
                            <span>BEASISWA TAZKIA GEMILANG Terdapat beasiswa Yayasan Tazkia Cendekia Berupa potongan Uang Pangkal</span>
                        </li>
                    </ul>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- End kenapa Memilih Beasiswa Tazkia -->

<!-- Start Testimonials
============================================= -->
<div class="testimonials-area bg-gray default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>Mitra / <span>Partners</span></h2>
                    <h4></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="testimonial-items owl-carousel owl-theme">
                        <!-- Single Item -->
                        <div class="testimonial-item">
                            <div class="thumb col-md-4">
                                <img th:src="@{/assets/img/bsi.jpg}" alt="Thumb">
                            </div>
                            <div class="info col-md-8">
                                <div class="content">
                                    <p>
                                        Kami akan sama-sama memajukan ekosistem halal, karena Tazkia concern dalam 3 bidang yaitu keagamaan, pendidikan, dan ekonomi
                                    </p>
                                    <h4>Bank Syariah Indonesai (BSI)</h4>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="testimonial-item">
                            <div class="thumb col-md-4">
                                <img th:src="@{/assets/img/zis.jpg}" alt="Thumb">
                            </div>
                            <div class="info col-md-8">
                                <div class="content">
                                    <p>
                                        Kebanggaannya dengan program beasiswa hafizpreneur ini, karena calon mahasiwa tersebar di enam provinsi di Indonesia yaitu Jawa Barat, Jawa Timur, NTB, Riau, Aceh, dan Kalimantan Timur. "Semoga anak yatim dan dhuafa ini bisa mengembangkan ekonomi syariah dan mengamalkannya dengan berpegang teguh pada nilai nilai Alquran”
                                    </p>
                                    <h4>Lembaga ZIS Indosat</h4>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="testimonial-item">
                            <div class="thumb col-md-4">
                                <img th:src="@{/assets/img/kaltim.jpg}" alt="Thumb">
                            </div>
                            <div class="info col-md-8">
                                <div class="content">
                                    <p>
                                        Pemerintah Provinsi Kalimantan Timur akan mengirimkan kembali  mahasiswa dari Kalimantan Timur ke Institut Tazkia pada tahun depan sebagai bentuk kepercayaan akan kualitas dan komitmen Tazkia dalam pendidikan dan penyiapan SDM dalam bidang ekonomi syariah
                                    </p>
                                    <h4>Pemerintah Provinsi Kalimantan Timur</h4>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials -->



<!-- Start Google Maps
============================================= -->
<div class="maps-area">
    <div class="container-full">
        <div class="row">
            <div class="google-maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9703.308473548155!2d106.85014840237689!3d-6.572507714543568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69c5c777e11211%3A0xc5ab7788a51fc54b!2sInstitut%20Tazkia%20-%20Islamic%20Economics%20%26%20Business%20Law%20Education!5e0!3m2!1sen!2sid!4v1672123019887!5m2!1sen!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>
<!-- End Google Maps -->

        <!-- Start Blog  
    ============================================= -->
    <div id="blog" class="blog-area bg-gray default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h2>Artikel <span>Terbaru</span></h2>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="blog-items blog-carousel owl-carousel owl-theme">
                        <!--  Single Item -->
                        <div class="item">
                            
             
                            </div>
                            <div class="info">
                                <h4>
                                    <a   th:href="@{/s1-reguler}">
                                    Program Studi S1 Reguler Institut Tazkia
                                    </a>
                                </h4>
                                <p>
                                    program Kelas Reguler dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan maupun siswa yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->
                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                                <a href="single.html">
                                    
                                </a>

                            </div>
                            <div class="info">
                                <h4>
                                    <a   th:href="@{/s1-reguler-bogor}">
                                    Program Studi S1 Reguler Murah Bogor Institut Tazkia
                                    </a>
                                </h4>
                                <p>
                                    program Kelas Reguler dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan maupun siswa yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                                

                            </div>
                            <div class="info">
                                <h4>
                                    <a   th:href="@{/s1-reguler-jakarta}">
                                    Program Studi S1 Reguler Murah Jakarta Institut Tazkia
                                    </a>
                                </h4>
                                <p>
                                    program Kelas Reguler dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan maupun siswa yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                                
                        
                            </div>
                            <div class="info">
                                <h4>
                                    <a   th:href="@{s1-reguler-depok}">
                                    Program Studi S1 Reguler Depok Institut Tazkia
                                    </a>
                                </h4>

                                <p>
                                    program Kelas Reguler dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan maupun siswa yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                                
                        
                            </div>
                            <div class="info">
                                <h4>
                                    <a   th:href="@{s1-reguler-bandung}">
                                    Program Studi S1 Reguler Bandung Institut Tazkia
                                    </a>
                                </h4>

                                <p>
                                    program Kelas Reguler dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan maupun siswa yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                                
                        
                            </div>
                            <div class="info">
                                <h4>
                                    <a   th:href="@{s1-reguler-bekasi}">
                                    Program Studi S1 Reguler Bekasi Institut Tazkia
                                    </a>
                                </h4>

                                <p>
                                    program Kelas Reguler dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan maupun siswa yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                                
                        
                            </div>
                            <div class="info">
                                <h4>
                                    <a   th:href="@{s1-reguler-tangerang}">
                                    Program Studi S1 Reguler Tangerang Institut Tazkia
                                    </a>
                                </h4>

                                <p>
                                    program Kelas Reguler dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan maupun siswa yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->
                       
                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                                
                        
                            </div>
                            <div class="info">
                                <h4>
                                    <a   th:href="@{/s1-reguler-murah}">
                                    Program Studi S1 Reguler Murah Institut Tazkia
                                    </a>
                                </h4>

                                <p>
                                    program Kelas Reguler dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan maupun siswa yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                                
                        
                            </div>
                            <div class="info">
                                <h4>
                                    <a   th:href="@{/s1-reguler-kranggan}">
                                    Program Studi S1 Reguler kranggan Institut Tazkia
                                    </a>
                                </h4>

                                <p>
                                    program Kelas Reguler dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan maupun siswa yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                                
                        
                            </div>
                            <div class="info">
                                <h4>
                                    <a   th:href="@{/s1-reguler-ciawi}">
                                    Program Studi S1 Reguler ciawi Institut Tazkia
                                    </a>
                                </h4>

                                <p>
                                    program Kelas Reguler dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan maupun siswa yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                                
                        
                            </div>
                            <div class="info">
                                <h4>
                                    <a   th:href="@{/s1-reguler-cianjur}">
                                    Program Studi S1 Reguler cianjur Institut Tazkia
                                    </a>
                                </h4>

                                <p>
                                    program Kelas Reguler dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan maupun siswa yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                                
                        
                            </div>
                            <div class="info">
                                <h4>
                                    <a   th:href="@{/s1-reguler-cibubur}">
                                    Program Studi S1 Reguler cibubur Institut Tazkia
                                    </a>
                                </h4>

                                <p>
                                    program Kelas Reguler dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan maupun siswa yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                                
                        
                            </div>
                            <div class="info">
                                <h4>
                                    <a   th:href="@{/s1-reguler-manajemen}">
                                    Program Studi S1 Reguler Manajemen Institut Tazkia
                                    </a>
                                </h4>

                                <p>
                                    program Kelas Reguler dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan maupun siswa yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                                
                        
                            </div>
                            <div class="info">
                                <h4>
                                    <a   th:href="@{/s1-reguler-akuntansi}">
                                    Program Studi S1 Akuntansi Institut Tazkia
                                    </a>
                                </h4>

                                <p>
                                    program Kelas Reguler dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan maupun siswa yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                                
                        
                            </div>
                            <div class="info">
                                <h4>
                                    <a   th:href="@{/s1-reguler-ilmu-komunikasi}">
                                    Program Studi S1 Komunikasi Beasiswa Jakarta Institut Tazkia
                                    </a>
                                </h4>

                                <p>
                                    program Kelas Reguler dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan maupun siswa yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                                
                        
                            </div>
                            <div class="info">
                                <h4>
                                    <a   th:href="@{/s1-reguler-hukum}">
                                    Program Studi S1 Reguler Hukum Institut Tazkia
                                    </a>
                                </h4>

                                <p>
                                    program Kelas Reguler dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan maupun siswa yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. 
                                    Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        <!--  Single Item -->
                        <div class="item">
                            <div class="thumb">
                                
                        
                            </div>
                            <div class="info">
                                <h4>
                                    <a   th:href="@{/s1-reguler-pendidikan}">
                                    Program Studi S1 Pendidikan Beasiswa Jakarta Institut Tazkia
                                    </a>
                                </h4>

                                <p>
                                    program Kelas Reguler dengan biaya yang terjangkau dan fasilitas pendidikan yang berkualitas. 
                                    pendidikan untuk meningkatkan akses dan kesempatan bagi karyawan maupun siswa yang ingin melanjutkan pendidikan, namun terkendala oleh waktu dan biaya yang terbatas. Program ini ditujukan bagi para karyawan yang ingin mengembangkan karir dan meningkatkan kompetensi melalui pendidikan tinggi.
                                </p>
                                
                            </div>
                        </div>
                        <!--  End Single Item -->

                        </div>
                        </div>
                        </div>
                        </div>

                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog -->

<!-- Start Footer
============================================= -->
<footer class="default-padding-top bg-light">
    <div class="container">
        <div class="row">
            <div class="f-items">
                <div class="col-md-4 col-sm-6 equal-height item">
                    <div class="f-item about">
                        <img th:src="@{/assets/img/logo.png}" alt="Logo">


                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
<script type="text/javascript">
    $(".js-example-placeholder-single").select2({
        placeholder: " ~ Pilih Asal Kota ~",
        allowClear: true
    });
</script>
<!-- jQuery Frameworks
============================================= -->
<script th:src="@{/assets/js/jquery-1.12.4.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/equal-height.min.js}"></script>
<script th:src="@{/assets/js/jquery.appear.js}"></script>
<script th:src="@{/assets/js/jquery.easing.min.js}"></script>
<script th:src="@{/assets/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/assets/js/modernizr.custom.13711.js}"></script>
<script th:src="@{/assets/js/owl.carousel.min.js}"></script>
<script th:src="@{/assets/js/wow.min.js}"></script>
<script th:src="@{/assets/js/count-to.js}"></script>
<script th:src="@{/assets/js/bootsnav.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>

</body>
</html>
